
28. 'stock option level' -- qué significa exactamente?
29. 'total working years' -- ok
30. 'training times year' -- sesiones de aprendizaje
31. 'work life balance' --1 al 3,float y nan, object-- drop posiblemente o float, se necesita?
32. 'years at the company' --ok
33. ' year current role' --mucha gente no contesta, se la suda. hay que arreglarlo
34. 'years since last promotion' -- escala del 0 al 15, ok
35. 'years with curr manager' --ok
36. 'same as monthly income' -- drop, drop, drop
37. 'date birth' -- ok
38. 'salary' --- drop este o monthly income, hay que ver
39. 'role department' -- combinación de role y departamento, mayus, min 
40. 'number children' -- solo tiene nan. fuera droooooop!!! #recomendación para la conciliación/worklifebalance
41. 'remote work' -- yes, 1, true, false , 0

---hecho ya !!!
1. 'age', toca rectificar. ¿Con datebirth? Restar el año/dia actual y así actualizar . Es object
2. 'atrittion' --ok. es object 
3. 'business travel' --object- diferentes categorías,
4. 'dailyrate' --se necesitan tantos decimales? se puede round. float ok OK 21/07
6. 'Distance from home' --alguien vive en el centro de la tierra --> hay núm negativos. int (cambiar float?) todos con casa 21/07

7. 'education' --- nivel del 1 al 5 --Int
8. 'education field' -object. ok
9. 'employeecount' -- DROPEADO 
11. 'enviromentsatisfaction' -- OK
12. columna gender, rectificada. HECHO 21/07
13. 'hourly rate' --- dropeada
14. 'job involvement' ---escala del 1 al 4, parece ok
--jobrole-- arreglado
15. 'job level' --OK
16. 'job satisfaction' -- ok
17. 'marital status' --CORREGIDOS ERRORES ORTOGRÁFICOS,
20. 'num companyes worked' --ok
21. 'over 18' - Tiene pinta de drop-- se va.
22. 'over time' --como dato es raruno, porque no hay horas trabajadas, sinó, más bien si quieren o no hacer horas extra.
18. 'monthly income' -- rectificado
19. 'monthly rate' --corregir el $, convertirlo a float, ' ', el tesoro de los mayas, tiene todas las columnas y se pueden calcular otras como hourlyrate o dailyrate si fuera necesario
23. 'percent salary .. ' -ok
24. 'performance rating' -- la escala solo tiene '3', '4', 'Nan', está raruna los valores. Faltan valores. -posible drop
25. 'overtime' 
26. ok
27. 'standard hours' ---object, full-time y part-time
·performance rating #va del 1 al 4, mantener los nulos, intentar profundizar con el job role o job department
27. 'relaciones interpersonales' --- escala del 1 al 4 ok

---next step!!!
10. 'employeenumber' --  hay duplicados to be continued, no quiere decir que esté mal; LOS 64 DUPLICADOS TIENEN MISMA INFO

---sugerencias
5. 'department' hay gente sin puesto en la empresa. object. Puede ser que falten puestos de trabajos a definir, como sugerencia en los próximos años de la empresa, empezar a ponerlos.

Jueves 31
--Maria: acabar el archivo con funciones
--Paula: empezar a hacer gráficas
--Bianca: acabar funciones, cuando todo esté limpio, no vamos todas a las gráficas

Cosas a comentar: