In [44]:
import mysql.connector
from mysql.connector import errorcode
import csv

In [45]:

# 1. Establecer la conexión a la base de datos (crear 'cnx' primero)
cnx = mysql.connector.connect(
        user='root',
        password='AlumnaAdalab',
        host='127.0.0.1'
    )

# 2. Crear el cursor a partir de la conexión
mycursor = cnx.cursor()

# 3. Ejecutar la consulta para crear la base de datos
mycursor.execute("CREATE DATABASE bbddcompania")

print("Base de datos 'bbddcompania' creada con éxito.")

Base de datos 'bbddcompania' creada con éxito.

In [46]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='bbddcompania')

In [47]:
mycursor = cnx.cursor()
try:
    mycursor.execute("""
CREATE TABLE IF NOT EXISTS empleados (
    age INTEGER,
    attrition TEXT,
    businesstravel TEXT,
    dailyrate FLOAT,
    department TEXT,
    distancefromhome INTEGER,
    education INTEGER,
    educationfield TEXT,
    employeenumber INTEGER PRIMARY KEY,
    environmentsatisfaction INTEGER,
    gender TEXT,
    jobinvolvement INTEGER,
    joblevel INTEGER,
    jobrole TEXT,
    jobsatisfaction INTEGER,
    maritalstatus TEXT,
    monthlyincome FLOAT,
    monthlyrate FLOAT,
    numcompaniesworked INTEGER,
    overtime TEXT,
    percentsalaryhike INTEGER,
    performancerating VARCHAR(15),
    relationshipsatisfaction INTEGER,
    standardhours VARCHAR(30),
    stockoptionlevel INTEGER,
    totalworkingyears VARCHAR(30),
    trainingtimeslastyear INTEGER,
    worklifebalance VARCHAR(30),
    yearsatcompany INTEGER,
    yearsincurrentrole VARCHAR(30),
    yearssincelastpromotion INTEGER,
    yearswithcurrmanager INTEGER,
    datebirth INTEGER,
    salary TEXT,
    roledepartament TEXT,
    numberchildren FLOAT,
    remotework TEXT
);
""")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor:
CREATE TABLE IF NOT EXISTS empleados (
..

In [48]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='bbddcompania')
mycursor = cnx.cursor()
query = """
INSERT INTO empleados (
    age, attrition, businesstravel, dailyrate, department, distancefromhome,
    education, educationfield, employeenumber, environmentsatisfaction,
    gender, jobinvolvement, joblevel, jobrole, jobsatisfaction,
    maritalstatus, monthlyincome, monthlyrate, numcompaniesworked,
    overtime, percentsalaryhike, performancerating, relationshipsatisfaction,
    standardhours, stockoptionlevel, totalworkingyears, trainingtimeslastyear,
    worklifebalance, yearsatcompany, yearsincurrentrole,
    yearssincelastpromotion, yearswithcurrmanager, datebirth, remotework
) VALUES (
    %s, %s, %s, %s, %s, %s,
    %s, %s, %s, %s,
    %s, %s, %s, %s, %s,
    %s, %s, %s, %s,
    %s, %s, %s, %s,
    %s, %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s, %s
)
"""

datos = []
with open('hr_clean_data_2023.csv') as file:
    reader = csv.reader(file)
    next(reader)  # Saltar encabezados si existen
    for fila in reader:
            datos.append(fila)

try: 
    mycursor.executemany(query, datos)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

1614 registros insertados.