In [2]:
import csv 
import json 
import pandas as pd
pd.set_option("display.max_columns", None)

In [3]:
df = pd.read_csv('hr_raw_data.csv', index_col=0)
df.head(2)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1

In [4]:
#funciones

# Poner todos los nombres de columnas en minúsculas
def poner_headers_minusculas(df):
    nuevas_columnas = {columna: columna.lower() for columna in df.columns}
    df.rename(columns=nuevas_columnas, inplace=True)

# Redondear los valores de una columna a 2 decimales
def redondear_columna(df, nombre_columna):
    df[nombre_columna] = df[nombre_columna].round(2)

# Cambiar valores negativos por positivos en una columna
def hacer_valores_positivos(df, nombre_columna):
    df[nombre_columna] = df[nombre_columna].abs()

# Eliminar columnas que no se necesitan
def eliminar_columnas(df, lista_columnas):
    df.drop(lista_columnas, axis=1, inplace=True)

# Dejar solo el primer número de una columna y convertirlo en entero
def primer_numero_a_entero(df, nombre_columna):
    df[nombre_columna] = df[nombre_columna].astype(str).str[0].astype(int)

# Reemplazar valores de una columna según un diccionario
def reemplazar_valores(df, nombre_columna, reemplazos):
    df[nombre_columna] = df[nombre_columna].replace(reemplazos)

# Convertir los textos de una columna a minúsculas
def poner_columna_minusculas(df, nombre_columna):
    df[nombre_columna] = df[nombre_columna].str.lower()

# Limpiar columna de dinero: quitar $ y cambiar , por . luego convertir a número decimal
def limpiar_columna_dinero(df, nombre_columna):
    df[nombre_columna] = df[nombre_columna].astype(str)
    df[nombre_columna] = df[nombre_columna].str.replace('$', '', regex=False)
    df[nombre_columna] = df[nombre_columna].str.replace(',', '.', regex=False)
    df[nombre_columna] = df[nombre_columna].astype(float)

# Convertir una columna a tipo decimal (float)
def convertir_a_decimal(df, nombre_columna):
    df[nombre_columna] = pd.to_numeric(df[nombre_columna], errors='coerce')

def calcular_edad(df, nombre_columna):
    df['age']= 2023 - df[nombre_columna]
    return df['age']

def nulos_salario(df):
    df["monthlyincome"] = df["monthlyincome"].fillna(df["salary"] / 12)
    return round(df['monthlyincome'], 2)

def tiempo_total(df):
    df['standardhours'] = df['standardhours'].fillna('Full Time')
    return df['standardhours']

In [5]:
#ejemplos de uso
poner_headers_minusculas(df)

redondear_columna(df, 'dailyrate')
hacer_valores_positivos(df, 'distancefromhome')
#eliminar_columnas(df, 'employeecount')
#eliminar_columnas(df,'hourlyrate') 
#eliminar_columnas(df, 'roledepartament')
#eliminar_columnas(df, 'numberchildren')
#eliminar_columnas(df, 'over18')
#eliminar_columnas(df, 'sameasmonthlyincome')
primer_numero_a_entero(df, 'environmentsatisfaction')

reemplazar_valores(df, 'gender', {0: 'M', 1: 'F'})
poner_columna_minusculas(df, 'jobrole')
poner_columna_minusculas(df, 'maritalstatus')
reemplazar_valores(df, 'maritalstatus', {'marreid': 'married'})

#limpiar_columna_dinero(df, 'monthlyrate')
#limpiar_columna_dinero(df, 'salary')
#limpiar_columna_dinero(df, 'monthlyincome')

reemplazar_valores(df, 'remotework', {
    "1": 'Yes', "0": 'No', "False": 'No', "True": 'Yes'
})

calcular_edad(df, 'datebirth')

#nulos_salario(df)
tiempo_total(df)

0       Full Time
1       Full Time
2       Full Time
3       Full Time
4       Full Time
          ...
1673    Full Time
1674    Full Time
1675    Part Time
1676    Part Time
1677    Part Time
Name: standardhours, Length: 1678, dtype: object

In [ ]:
#eliminar_columnas(df,'salary' ) 
# se necesita para calcular monthlyincome, 
# pero después se va porque es info repetida

In [ ]:
df['yearsincurrentrole'].isnull().sum() #hay muchos nulos no es representativo

1643

In [61]:
#duplicados
df['employeenumber'].duplicated().sum()

0

In [59]:
df.drop_duplicates(subset=['employeenumber'], keep='first', inplace=True)

In [6]:
df['age']

0       51
1       52
2       42
3       47
4       46
        ..
1673    43
1674    47
1675    29
1676    47
1677    32
Name: age, Length: 1678, dtype: int64

In [7]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [62]:
df.to_csv("hr_clean_data_2023.csv", index=False)