In [1]:
import csv 
import json 
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
#sacar unnamed 
df = pd.read_csv('hr_raw_data.csv', index_col=0)

In [19]:
df

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,43,No,NaN,488.944444,NaN,-26,3,Medical,1,824,2,1,NaN,4,1,rESEaRcH SciEnTiST,3,Single,"3949,17$","10267,83$",4,NaN,NaN,12,"3,0",4,NaN,0,NaN,2,"3,0",3,NaN,1,2,"3949,17$",1980,NaN,NaN,NaN,Yes
1674,47,No,NaN,1973.984127,NaN,26,4,NaN,1,1087,4,1,NaN,3,5,mANager,3,Married,"15943,72$","41453,67$",3,Y,No,11,"3,0",3,Full Time,1,"27,0",2,"3,0",5,NaN,1,0,"15943,72$",1976,"191324,62$",NaN,NaN,False
1675,29,No,travel_rarely,290.035510,NaN,15,3,NaN,1,528,3,0,NaN,3,1,reSearch sCienTiSt,4,NaN,NaN,"6090,75$",1,NaN,No,19,"3,0",1,Part Time,0,"6,0",1,"3,0",6,NaN,1,5,NaN,1994,"28111,13$",NaN,NaN,False
1676,47,No,travel_rarely,1032.487286,NaN,4,3,Life Sciences,1,76,3,1,NaN,2,3,maNufACTURING DIREctOr,2,Divorced,"8339,32$","21682,23$",8,NaN,Yes,12,NaN,3,Part Time,1,NaN,4,"3,0",22,NaN,14,10,"8339,32$",1976,"100071,84$",NaN,NaN,Yes
1677,32,No,NaN,556.256661,NaN,2,2,Life Sciences,1,401,4,1,69.532083,3,2,resEArch scIENTisT,3,Single,NaN,"11681,39$",4,Y,Yes,14,"3,0",4,Part Time,0,"10,0",2,"3,0",8,NaN,0,7,NaN,1991,"53914,11$",NaN,NaN,0

In [ ]:
df["attrition"].isna().sum() #attrition no tiene nulos

0

In [ ]:
df["attrition"].unique().sum()

'NoYes'

In [28]:
df["businesstravel"].isna().sum()

801

In [30]:
df["businesstravel"].unique()

array([nan, 'travel_rarely', 'travel_frequently', 'non-travel'],
      dtype=object)

In [31]:
df["dailyrate"].isna().sum()

0

In [32]:
df["dailyrate"].unique()

array([2015.72222222, 2063.38888889, 1984.25396825, 1771.4047619 ,
       1582.77134647, 1771.92063492, 1032.48728618,  556.256661  ,
       1712.18253968, 1973.98412698, 2060.70634921, 1382.74603175,
       1362.52380952, 2016.54761905, 1861.37301587, 1985.6984127 ,
       1108.92063492, 1728.38095238,  639.78571429, 2047.5       ,
        412.8015873 , 1077.86507937, 1657.3968254 ,  331.19047619,
       1059.19047619, 1080.75396825,  635.76190476,  487.08730159,
        290.03550974,  476.15079365, 1749.73809524, 1063.31746032,
        557.76190476,  608.93650794, 1119.96031746,  610.17460317,
        685.6984127 , 1441.65873016, 1374.28571429,  689.92857143,
        488.53174603, 1431.23809524, 1964.96031746, 1652.34126984,
        991.81746032, 1187.53968254,  444.26984127, 1758.71428571,
        522.78571429,  380.92063492, 2047.70634921,  238.12698413,
        592.94444444, 1075.28571429,  654.84920635,  242.25396825,
        316.95238095, 1288.65079365,  827.46031746, 1760.98412698,
        922.69047619, 1988.38095238,  575.4047619 ,  277.64285714,
        763.8015873 ,  910.30952381,  369.26190476, 1834.34126984,
       1879.11904762, 1400.8015873 , 1979.92063492, 1766.65873016,
       1979.61111111, 1032.57142857,  824.15873016,  730.78571429,
        487.29365079,  351.51587302,  302.1984127 , 1241.29365079,
       1591.67460317,  528.87301587,  992.43650794,  516.9047619 ,
       1963.72222222, 1073.01587302,  288.16666667,  585.41269841,
       1980.64285714,  867.9047619 ,  345.42857143,  547.75396825,
        789.6984127 , 1321.46031746,  679.50793651,  259.8968254 ,
       1764.18253968, 1353.65079365,  323.03968254,  458.50793651,
        688.58730159, 1016.47619048, 1842.8015873 ,  768.23809524,
       1419.37301587, 1712.49206349,  442.1031746 , 1044.53968254,
       1002.23809524, 1023.9047619 , 1160.1984127 ,  316.64285714,
        953.43650794,  667.74603175,  315.1984127 ,  858.51587302,
        324.27777778,  885.03174603,  433.02380952, 1020.19047619,
       1376.45238095,  585.72222222,  300.13492063,  982.84126984,
        704.16666667,  456.44444444,  561.37301587,  626.68253968,
        634.11111111,  636.79365079,  481.61904762,  578.29365079,
        445.61111111,  367.71428571,  645.97619048,  702.        ,
       2005.3015873 ,  601.3015873 ,  253.29365079,  521.54761905,
        483.06349206,  542.38888889,  218.62698413,  616.36507937,
        313.03174603, 1363.14285714,  865.84126984,  417.96031746,
        495.75396825,  282.8015873 ,  550.64285714,  973.34920635,
        556.73015873, 1151.32539683,  511.74603175,  907.21428571,
       1979.81746032,  228.63492063, 1208.48412698,  547.23809524,
       1145.54761905,  684.25396825,  782.78571429,  447.26190476,
        616.98412698,  437.87301587,  539.3968254 ,  278.57142857,
        244.11111111,  240.29365079,  443.03174603,  693.84920635,
       1065.27777778,  458.81746032, 1118.92857143,  564.57142857,
        658.76984127,  776.38888889,  377.61904762,  901.74603175,
       1392.75396825,  360.18253968,  538.57142857, 1057.74603175,
       2036.66666667,  640.61111111,  731.92063492,  467.79365079,
        876.98412698,  478.62698413,  553.32539683,  421.05555556,
        369.15873016, 1787.80952381, 1113.56349206, 1119.54761905,
       1079.82539683,  243.6984127 ,  664.34126984,  595.21428571,
        452.42063492,  419.50793651,  537.12698413,  273.92857143,
        265.15873016,  464.49206349,  512.57142857,  531.03968254,
        280.42857143,  365.13492063,  564.15873016,  599.75396825,
        997.38888889,  531.76190476,  585.51587302,  754.61904762,
        525.98412698, 1400.07936508,  692.50793651, 1030.81746032,
       1057.33333333, 1128.52380952,  267.53174603, 1225.50793651,
        835.1984127 , 1739.11111111,  468.1031746 , 1849.3015873 ,
        414.14285714, 1314.65079365,  348.31746032, 1081.47619048,
        438.38888889,  675.69047619, 1486.84920635, 2020.77777778,
        849.84920635,  331.29365079, 1723.42857143,  492.55555556,
        471.3015873 ,  618.32539683,  670.53174603,  356.15873016,
        660.00793651,  281.15079365,  373.6984127 ,  637.61904762,
        647.31746032,  452.00793651,  264.02380952,  566.22222222,
        259.38095238,  329.74603175,  352.85714286,  421.67460317,
        553.84126984, 1334.66666667,  435.5       ,  512.05555556,
        433.33333333,  516.49206349,  788.15079365,  670.84126984,
       1395.43650794,  655.05555556,  658.25396825,  320.04761905,
        470.06349206,  436.42857143,  501.32539683,  652.26984127,
       1110.26190476,  306.73809524,  536.92063492, 1795.13492063,
       1742.1031746 ,  446.02380952,  531.86507937,  302.92063492,
       1938.54761905,  503.8015873 ,  209.34126984,  309.11111111,
        957.25396825,  429.41269841,  913.4047619 ,  503.07936508,
        220.8968254 ,  800.22222222,  406.0952381 ,  705.92063492,
        411.56349206,  508.65079365,  381.95238095,  279.08730159,
        458.92063492,  245.45238095,  566.11904762,  289.92063492,
        922.17460317, 1025.14285714,  562.71428571, 1933.49206349,
        564.67460317, 1393.16666667, 1397.91269841, 1874.88888889,
        286.20634921,  973.86507937,  543.21428571,  393.61111111,
        246.48412698,  412.6984127 , 1814.22222222,  584.07142857,
        502.35714286,  479.65873016, 1082.92063492,  285.58730159,
        351.61904762,  387.42063492,  225.64285714,  439.31746032,
        549.50793651,  565.91269841,  287.03174603, 1819.8968254 ,
        625.44444444,  648.76190476,  353.26984127,  432.71428571,
        261.23809524,  584.58730159, 1416.17460317,  423.73809524,
        371.11904762,  424.56349206,  647.11111111,  259.69047619,
        402.79365079,  949.61904762,  451.18253968,  212.95238095,
        250.71428571,  503.18253968,  387.93650794,  207.69047619,
        306.84126984,  285.38095238,  348.42063492,  434.67460317,
        671.97619048,  442.        ,  229.66666667,  573.75396825,
        221.20634921,  554.35714286,  298.8968254 ,  548.99206349,
        558.17460317,  500.3968254 ,  206.45238095,  454.38095238,
        406.92063492,  305.3968254 , 1954.84920635,  667.02380952,
        276.81746032,  207.79365079,  355.02380952, 1409.77777778,
        518.03968254, 1944.22222222,  488.94444444, 1098.80952381,
        445.4047619 ,  208.82539683,  315.50793651,  405.37301587,
        456.54761905,  240.19047619,  274.13492063,  612.85714286,
        270.52380952,  331.3968254 ,  300.34126984,  715.1031746 ,
        224.50793651,  333.25396825, 1925.75396825,  287.75396825,
        661.34920635,  509.78571429,  410.94444444,  299.61904762,
        278.15873016,  224.3015873 ,  696.94444444, 1131.30952381,
        262.37301587, 2002.20634921,  674.55555556,  232.96825397,
        228.84126984,  273.82539683, 1231.38888889,  262.68253968,
        401.76190476,  439.73015873, 1086.11904762,  247.61904762,
        379.78571429,  355.64285714, 2013.24603175,  274.34126984,
        912.78571429,  210.99206349,  500.5       ,  837.77777778,
        472.23015873,  557.65873016,  382.57142857, 1420.71428571,
        236.99206349,  252.77777778,  447.98412698,  265.36507937,
        670.63492063,  324.8968254 ,  549.3015873 ,  452.11111111,
        263.4047619 ,  612.13492063,  454.27777778, 1128.11111111,
        208.61904762,  439.11111111,  369.36507937,  299.1031746 ,
        573.85714286,  245.24603175,  248.03174603,  288.78571429,
        290.02380952,  451.5952381 ,  437.46031746,  436.11904762,
        404.13492063,  512.67460317,  210.68253968,  291.05555556,
       1027.30952381,  227.70634921,  213.57142857,  287.96031746,
        848.50793651,  269.28571429,  591.29365079,  261.96031746,
        245.14285714, 1968.67460317,  283.00793651,  468.20634921,
        398.97619048,  214.6031746 ,  216.25396825,  477.38888889,
        237.50793651,  523.1984127 , 1093.23809524,  564.05555556,
        247.        ,  374.42063492,  965.92063492,  333.15079365,
       1694.33333333,  582.62698413,  453.96825397,  213.15873016,
        566.01587302,  326.23809524,  686.21428571,  505.34920635,
        328.0952381 , 1160.0952381 ,  419.81746032,  659.49206349,
        500.91269841,  341.71428571,  321.5952381 , 1568.46031746,
        266.19047619,  223.47619048,  451.28571429,  567.97619048,
        266.91269841, 1647.9047619 ,  237.81746032,  354.1984127 ,
        358.73809524,  403.1031746 ,  355.43650794,  284.76190476,
        649.38095238, 1353.23809524,  370.5       ,  217.18253968,
        402.58730159,  274.65079365,  212.74603175,  568.18253968,
        836.02380952,  410.42857143,  557.03968254, 1077.96825397,
        458.0952381 ,  274.44444444,  348.21428571,  234.1031746 ,
        493.8968254 ,  289.81746032, 1119.85714286,  265.26190476,
        633.6984127 ,  257.52380952,  352.75396825,  258.03968254,
        264.74603175,  404.44444444, 1440.73015873,  674.76190476,
        231.52380952, 1669.77777778,  436.73809524, 1528.42857143,
       1770.37301587,  239.15873016,  373.18253968,  276.92063492,
       1984.76984127,  456.23809524,  263.3015873 ,  276.3015873 ,
        533.51587302, 1229.42857143,  967.77777778,  606.46031746,
        254.63492063,  425.8015873 ,  221.61904762,  400.93650794,
        687.86507937,  215.63492063,  215.22222222,  201.29365079,
        311.79365079, 1003.26984127,  349.55555556,  313.44444444,
        239.57142857,  301.88888889,  464.8015873 ,  292.5       ,
        676.1031746 ,  688.48412698, 1402.24603175,  224.61111111,
       2013.65873016, 1981.15873016, 1036.6984127 ,  280.94444444,
        685.49206349,  326.13492063,  146.50793651,  123.80952381,
        540.42857143, 1030.1984127 , 1649.96825397,  244.52380952,
        699.62698413,  686.42063492,  294.15079365,  542.49206349,
        255.46031746,  235.75396825,  355.74603175,  470.26984127,
        175.6031746 ,  264.53968254,  523.0952381 ,  390.        ,
       1013.58730159,  193.76190476,  241.42857143,  219.45238095,
        209.75396825,  990.68253968, 1715.48412698,  214.91269841,
        104.1031746 ,  811.05555556,  272.58730159,  528.35714286,
        277.95238095,  525.57142857,  234.61904762,  238.74603175,
        245.55555556,  207.17460317, 1088.6984127 ,  233.07142857,
        248.96031746,  218.83333333,  255.76984127, 1361.28571429,
        429.51587302,  268.25396825, 1888.4047619 ,  492.86507937,
        108.53968254,  253.91269841,  267.84126984,  487.80952381,
        758.43650794,  491.73015873,  291.67460317,  294.35714286,
        236.26984127,  217.38888889,  228.01587302, 1360.97619048,
       1884.48412698,  115.34920635,  244.73015873,  292.80952381,
       1863.43650794,  166.21428571,  491.93650794,  131.44444444,
        264.23015873,  161.26190476,  659.07936508,  864.19047619,
        499.46825397,  213.98412698,  306.63492063,  703.13492063,
        277.53968254, 1812.46825397,  161.88095238,  431.99206349,
        341.0952381 ,  143.72222222, 1122.84920635,  295.28571429,
        694.88095238, 1006.57142857,  546.20634921,  251.43650794,
        420.02380952,  304.98412698,  479.55555556,  289.3015873 ,
        251.64285714,  294.66666667,  302.61111111,  112.56349206,
        531.45238095,  295.38888889,  294.87301587,  116.48412698,
       2004.78571429])

In [33]:
df["department"].isna().sum()

1366

In [34]:
df["department"].unique()

array([nan, ' Research & Development ', ' Sales ', ' Human Resources '],
      dtype=object)

In [35]:
df["education"].isna().sum()

0

In [36]:
df["education"].unique()

array([3, 4, 2, 1, 5], dtype=int64)

In [37]:
df["educationfield"].isna().sum()

774

In [38]:
df["educationfield"].unique()

array([nan, 'Life Sciences', 'Technical Degree', 'Medical', 'Other',
       'Marketing', 'Human Resources'], dtype=object)

In [39]:
df["employeecount"].isna().sum()

0

In [40]:
df["employeecount"].unique()

array([1], dtype=int64)

In [41]:
df["employeenumber"].isna().sum()

0

In [42]:
df["employeenumber"].unique()

array([   1,    2,    3, ..., 1612, 1613, 1614], dtype=int64)

In [48]:
df["employeenumber"].sample(50)

1112    1113
55        56
141      142
191      192
848      849
374      375
1130    1131
1117    1118
864      865
539      540
1127    1128
338      339
1336    1337
973      974
970      971
49        50
679      680
1524    1525
267      268
513      514
1376    1377
1231    1232
1299    1300
528      529
106      107
1643    1525
721      722
723      724
1086    1087
962      963
1190    1191
1036    1037
278      279
941      942
59        60
597      598
879      880
289      290
1335    1336
127      128
1209    1210
1302    1303
25        26
392      393
1606    1607
1536    1537
676      677
992      993
718      719
173      174
Name: employeenumber, dtype: int64

In [49]:
df["environmentsatisfaction"].unique()

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43], dtype=int64)

In [50]:
df["environmentsatisfaction"].isna().sum()

0

In [69]:
df["environmentsatisfaction"].sample(50)

399     29
186      4
1345     4
393      3
401      3
452      4
192      1
894      3
745      4
204      2
1126    35
1144     1
435      3
1529     2
874     17
625      1
656      2
665      2
842      3
115     39
936      4
1205     1
1658     2
283      4
1104     3
0        1
1656     2
241      4
1340     3
193      2
406      4
861      1
733     42
188      4
627     41
1470     2
821      3
1587     4
1609     3
1663     2
79       4
501      4
1108     1
523     12
1661     3
68      25
48       4
640      1
1516     1
1023     4
Name: environmentsatisfaction, dtype: int64

In [70]:
df["hourlyrate"].unique()

array([         nan,  69.53208262, 172.84325397, 216.04761905,
        79.97321429, 129.06091077, 246.74801587, 207.17460317,
        60.8859127 ,  36.25443872, 139.99503968,  86.24107143,
       197.84641831,  61.06646825, 245.62003968, 123.97718254,
       148.44246032, 255.96329365, 134.41071429,  71.92559524,
       113.78869048, 175.10019841, 247.49007937, 220.83234127,
        91.34821429,  37.77480159, 198.9593254 , 124.05456349,
       247.58035714, 108.48809524,  43.17857143,  68.46924603,
        32.48710317,  55.26289683,  83.46825397,  79.26388889,
        72.28670635,  45.96428571,  31.66170635,  65.19345238,
        52.24503968, 143.9156746 , 113.40178571, 143.19345238,
       139.86607143,  70.57142857,  97.04861111,  45.02281746,
       223.47619048, 134.9781746 ,  74.40178571,  67.14087302,
        58.06150794,  35.05357143,  73.18948413, 164.33134921,
        43.53968254,  54.79861111, 252.59722222,  83.81646825,
        46.71230159,  33.00297619,  70.77777778,  69.23015873,
        54.55357143,  81.53373016, 217.76289683,  50.76190476,
        88.24007937,  57.36507937, 115.2718254 ,  35.77579365,
        59.95734127,  28.20535714,  54.91468254, 227.48710317,
        78.18055556,  54.08928571, 177.0218254 ,  52.9672619 ,
        46.38988095,  80.88888889, 118.70238095,  56.39781746,
        31.33928571,  38.35515873,  35.67261905,  83.99702381,
        55.25      ,  28.70833333,  69.29464286,  69.7718254 ,
        50.86507937,  38.17460317, 244.35615079,  83.37797619,
        25.97420635, 243.02777778,  26.1031746 ,  76.60714286,
        33.81547619,  41.42460317,  89.38789683, 240.71924603,
        82.66865079,  28.03769841,  34.26686508, 141.41369048,
        32.79662698,  68.4047619 ,  84.31944444, 153.92361111,
        50.2202381 ,  26.37400794, 104.72222222,  59.02876984,
        47.82142857,  40.61210317,  32.92559524,  76.51686508,
       141.01388889,  36.09821429,  44.51984127, 106.06349206,
        73.91170635,  32.74503968,  30.64285714,  48.49206349,
        26.82539683,  65.39980159,  70.50694444,  44.10714286,
        41.01190476, 145.01190476,  82.43650794,  42.71428571,
        40.19940476,  29.72718254,  50.38789683,  44.42956349,
        35.5952381 ,  81.17261905,  71.02281746, 104.50297619,
        51.30357143,  34.30555556,  36.22718254,  33.1577381 ,
        32.25496032,  50.55555556,  30.65575397,  57.0297619 ,
        66.68948413, 153.67857143, 120.97222222,  31.82936508,
        27.70238095,  50.11706349,  43.69444444,  58.10019841,
       175.28075397,  85.68650794,  30.56547619,  67.81150794,
        54.12797619,  58.78373016,  33.06746032, 126.6984127 ,
        26.8640873 ,  13.01289683, 101.38194444,  29.32738095,
        27.35416667,  33.53174603,  61.60813492,  36.79464286,
        36.60119048, 108.02380952, 226.55853175,  68.27579365,
        31.42956349,  59.94444444,  14.07043651,  66.43154762,
        27.65079365,  26.69642857,  35.99503968,  74.96924603,
        34.76984127,  29.12103175, 108.23015873, 247.47718254,
        67.42460317,  34.82142857, 133.15972222])

In [71]:
df["hourlyrate"].isna().sum()

1267

In [72]:
df["jobinvolvement"].unique()

array([3, 2, 4, 1], dtype=int64)

In [73]:
df["jobinvolvement"].isna().sum()

0

In [74]:
df["joblevel"].unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [75]:
df["joblevel"].isna().sum()

0

In [76]:
df["jobsatisfaction"].unique()

array([3, 4, 1, 2], dtype=int64)

In [77]:
df["jobsatisfaction"].isna().sum()

0

In [78]:
df["maritalstatus"].unique()

array([nan, 'Married', 'Divorced', 'Single', 'divorced', 'Marreid'],
      dtype=object)

In [79]:
df["maritalstatus"].isna().sum()

675

In [98]:
df["percentsalaryhike"].unique()

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18],
      dtype=int64)

In [99]:
df["percentsalaryhike"].isna().sum()

0

In [100]:
df["performancerating"].unique()

array(['3,0', '4,0', nan], dtype=object)

In [101]:
df["performancerating"].isna().sum()

200

In [102]:
df["relationshipsatisfaction"].unique()

array([3, 1, 4, 2], dtype=int64)

In [103]:
df["relationshipsatisfaction"].isna().sum()

0

In [106]:
df["stockoptionlevel"].unique()

array([0, 1, 2, 3], dtype=int64)

In [107]:
df["stockoptionlevel"].isna().sum()

0

In [108]:
df["totalworkingyears"].unique()

array([nan, '34,0', '22,0', '28,0', '20,0', '21,0', '33,0', '40,0',
       '18,0', '25,0', '15,0', '17,0', '26,0', '16,0', '24,0', '14,0',
       '23,0', '27,0', '19,0', '11,0', '38,0', '37,0', '13,0', '12,0',
       '29,0', '10,0', '36,0', '35,0', '9,0', '31,0', '32,0', '8,0',
       '7,0', '30,0', '6,0', '5,0', '4,0', '3,0', '2,0', '1,0', '0,0'],
      dtype=object)

In [109]:
df["totalworkingyears"].isna().sum()

549

In [110]:
df["trainingtimeslastyear"].unique()

array([5, 3, 2, 0, 1, 4, 6], dtype=int64)

In [111]:
df["trainingtimeslastyear"].isna().sum()

0

In [112]:
df["worklifebalance"].unique()

array(['3,0', nan, '2,0', '4,0', '1,0'], dtype=object)

In [113]:
df["worklifebalance"].isna().sum()

114

In [114]:
df["yearsatcompany"].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0], dtype=int64)

In [115]:
df["yearsatcompany"].isna().sum()

0

In [116]:
df["yearsincurrentrole"].unique()

array([nan, '13,0', '12,0', '11,0', '7,0', '6,0', '4,0', '3,0', '2,0',
       '1,0', '0,0'], dtype=object)

In [117]:
df["yearsincurrentrole"].isna().sum()

1643

In [118]:
df["yearssincelastpromotion"].unique()

array([15, 11,  5,  2,  4,  7,  0,  1, 13, 14,  8, 12,  3,  6, 10,  9],
      dtype=int64)

In [119]:
df["yearssincelastpromotion"].isna().sum()

0

In [120]:
df["yearswithcurrmanager"].unique()

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16], dtype=int64)

In [121]:
df["yearswithcurrmanager"].isna().sum()

0

In [88]:
min(df["monthlyincome"])

TypeError: '<' not supported between instances of 'float' and 'str'

In [80]:
df["monthlyincome"].unique()

array(['16280,83$', nan, '14307,50$', '12783,92$', '14311,67$',
       '8339,32$', '13829,17$', '15943,72$', '16644,17$', '15034,17$',
       '16038,33$', '4492,84$', '8956,67$', '5167,50$', '3334,17$',
       '8705,83$', '2675,00$', '8555,00$', '8729,17$', '3934,17$',
       '3845,83$', '14132,50$', '8588,33$', '4505,00$', '4918,33$',
       '4928,33$', '5538,33$', '11100,00$', '5572,50$', '11560,00$',
       '15870,83$', '13345,83$', '8010,83$', '3588,33$', '14205,00$',
       '4222,50$', '3076,67$', '2342,59$', '4789,17$', '8685,00$',
       '5289,17$', '1956,67$', '10408,33$', '6683,33$', '7452,50$',
       '16060,00$', '4647,50$', '2242,50$', '6169,17$', '7352,50$',
       '2982,50$', '14815,83$', '15177,50$', '15991,67$', '15989,17$',
       '8340,00$', '6656,67$', '5902,50$', '3935,83$', '2839,17$',
       '2440,83$', '10025,83$', '12855,83$', '5135,00$', '4271,67$',
       '8015,83$', '4175,00$', '15860,83$', '8666,67$', '2327,50$',
       '4728,33$', '7010,00$', '2790,00$', '4424,17$', '6378,33$',
       '10673,33$', '5488,33$', '2099,17$', '10933,33$', '2609,17$',
       '5561,67$', '14884,17$', '6205,00$', '11464,17$', '13831,67$',
       '2557,50$', '7700,83$', '5393,33$', '6934,17$', '7148,33$',
       '3497,50$', '8240,00$', '4730,83$', '7938,33$', '5687,50$',
       '3686,67$', '4534,17$', '5061,67$', '5143,33$', '4670,83$',
       '3599,17$', '2970,00$', '5217,50$', '5670,00$', '16196,67$',
       '4856,67$', '3901,67$', '1765,83$', '4978,33$', '11010,00$',
       '3375,83$', '4004,17$', '2284,17$', '7861,67$', '4496,67$',
       '9299,17$', '4133,33$', '7327,50$', '1846,67$', '9760,83$',
       '4420,00$', '9252,50$', '5526,67$', '6322,50$', '3612,50$',
       '4983,33$', '3536,67$', '4356,67$', '2250,00$', '1971,67$',
       '1940,83$', '8604,17$', '9037,50$', '5320,83$', '3050,00$',
       '7283,33$', '11249,17$', '2909,17$', '4350,00$', '8543,33$',
       '16450,00$', '5174,17$', '3778,33$', '7083,33$', '3865,83$',
       '4469,17$', '3400,83$', '8994,17$', '9042,50$', '3654,17$',
       '3388,33$', '4338,33$', '2212,50$', '2141,67$', '3751,67$',
       '4140,00$', '4289,17$', '2265,00$', '2949,17$', '4556,67$',
       '4844,17$', '8055,83$', '4729,17$', '6095,00$', '11308,33$',
       '8325,83$', '8540,00$', '9115,00$', '2160,83$', '9898,33$',
       '6745,83$', '14046,67$', '3780,83$', '3345,00$', '10618,33$',
       '8735,00$', '3540,83$', '5457,50$', '12009,17$', '6864,17$',
       '2675,83$', '13920,00$', '3806,67$', '4994,17$', '5415,83$',
       '5330,83$', '3018,33$', '5228,33$', '4573,33$', '2095,00$',
       '2663,33$', '2850,00$', '3405,83$', '3500,00$', '4171,67$',
       '5418,33$', '5290,83$', '3796,67$', '3525,00$', '8967,50$',
       '4336,67$', '14499,17$', '4295,83$', '15657,50$', '4069,17$',
       '2496,67$', '7731,67$', '3468,33$', '7377,50$', '6463,33$',
       '3324,17$', '3085,00$', '2254,17$', '3706,67$', '7448,33$',
       '8280,00$', '15616,67$', '4560,83$', '11252,50$', '11290,83$',
       '2311,67$', '7865,83$', '4387,50$', '3179,17$', '1990,83$',
       '3333,33$', '14653,33$', '4717,50$', '4057,50$', '3874,17$',
       '8746,67$', '2840,00$', '3548,33$', '4570,83$', '2318,33$',
       '5240,00$', '3495,00$', '2110,00$', '11438,33$', '3422,50$',
       '2997,50$', '3429,17$', '5226,67$', '7670,00$', '3644,17$',
       '1720,00$', '2025,00$', '4064,17$', '3133,33$', '1677,50$',
       '2305,00$', '5427,50$', '1855,00$', '4634,17$', '1786,67$',
       '4477,50$', '2414,17$', '4434,17$', '1667,50$', '3670,00$',
       '3286,67$', '15789,17$', '1678,33$', '11386,67$', '4184,17$',
       '3949,17$', '3597,50$', '1686,67$', '3274,17$', '3687,50$',
       '1940,00$', '2214,17$', '2185,00$', '2676,67$', '2425,83$',
       '1813,33$', '15554,17$', '5341,67$', '4117,50$', '3319,17$',
       '2420,00$', '2246,67$', '5629,17$', '9137,50$', '16171,67$',
       '5448,33$', '1881,67$', '2211,67$', '9945,83$', '3245,00$',
       '2000,00$', '2872,50$', '16260,83$', '2215,83$', '7372,50$',
       '4042,50$', '3814,17$', '11475,00$', '1914,17$', '2041,67$',
       '3618,33$', '2143,33$', '5416,67$', '2624,17$', '4436,67$',
       '3651,67$', '2127,50$', '4944,17$', '9111,67$', '1685,00$',
       '3546,67$', '2983,33$', '2415,83$', '4635,00$', '1980,83$',
       '2332,50$', '2876,67$', '2342,50$', '3647,50$', '3533,33$',
       '3522,50$', '3264,17$', '1701,67$', '2350,83$', '8297,50$',
       '1839,17$', '4775,83$', '3781,67$', '1733,33$', '3253,33$',
       '3855,83$', '1918,33$', '8830,00$', '4555,83$', '4807,50$',
       '1995,00$', '2690,83$', '13685,00$', '4705,83$', '1721,67$',
       '4571,67$', '2635,00$', '5542,50$', '2424,17$', '4081,67$',
       '2650,00$', '3390,83$', '5326,67$', '4045,83$', '2760,00$',
       '2150,00$', '1805,00$', '3645,00$', '4587,50$', '2155,83$',
       '13310,00$', '2860,83$', '2897,50$', '3255,83$', '2870,83$',
       '2300,00$', '5245,00$', '10930,00$', '2992,50$', '4504,17$',
       '1754,17$', '3251,67$', '2218,33$', '4589,17$', '6752,50$',
       '3315,00$', '4499,17$', '8706,67$', '3700,00$', '2216,67$',
       '2812,50$', '1890,83$', '2340,83$', '9045,00$', '2142,50$',
       '2849,17$', '2084,17$', '2138,33$', '3266,67$', '11636,67$',
       '5450,00$', '1870,00$', '13486,67$', '3527,50$', '12345,00$',
       '1931,67$', '16030,83$', '2126,67$', '2231,67$', '4898,33$',
       '3439,17$', '1790,00$', '5555,83$', '8103,33$', '2823,33$',
       '2531,67$', '1935,00$', '2438,33$', '3754,17$', '5560,83$',
       '11325,83$', '16264,17$', '16001,67$', '8373,33$', '2269,17$',
       '2634,17$', '1183,33$', '1000,00$', '4365,00$', '1975,00$',
       '5650,83$', '5544,17$', '2063,33$', '1904,17$', '2873,33$',
       '3798,33$', '1418,33$', '2136,67$', '3150,00$', '1950,00$',
       '1772,50$', '1694,17$', '8001,67$', '13855,83$', '1735,83$',
       '84083$', '6550,83$', '2201,67$', '4267,50$', '2245,00$',
       '4245,00$', '1928,33$', '1673,33$', '8793,33$', '1882,50$',
       '3469,17$', '15252,50$', '1983,33$', '3980,83$', '87667$',
       '6125,83$', '3971,67$', '2377,50$', '1755,83$', '1841,67$',
       '10992,50$', '15220,83$', '93167$', '2365,00$', '15050,83$',
       '1342,50$', '3973,33$', '2003,33$', '5323,33$', '4034,17$',
       '1728,33$', '2476,67$', '5679,17$', '2241,67$', '3489,17$',
       '9069,17$', '2385,00$', '5612,50$', '4411,67$', '2030,83$',
       '2463,33$', '3873,33$', '2336,67$', '2032,50$', '2380,00$',
       '2444,17$', '2385,83$', '2381,67$', '94083$', '16192,50$',
       '1923,33$', '2115,83$', '1980,00$', '4295,00$', '1811,67$',
       '2119,17$', '1848,33$', '2045,83$', '4380,83$', '2528,33$',
       '6993,33$', '15990,83$', '3578,33$', '3705,83$'], dtype=object)

In [89]:
df["monthlyrate"].isna().sum()

0

In [90]:
df["monthlyrate"].unique()

array(['42330,17$', '43331,17$', '41669,33$', '37199,50$', '33238,20$',
       '37210,33$', '21682,23$', '11681,39$', '35955,83$', '41453,67$',
       '43274,83$', '29037,67$', '28613,00$', '42347,50$', '39088,83$',
       '41699,67$', '23287,33$', '36296,00$', '13435,50$', '42997,50$',
       '8668,83$', '22635,17$', '34805,33$', '6955,00$', '22243,00$',
       '22695,83$', '13351,00$', '10228,83$', '6090,75$', '9999,17$',
       '36744,50$', '22329,67$', '11713,00$', '12787,67$', '23519,17$',
       '12813,67$', '14399,67$', '30274,83$', '28860,00$', '14488,50$',
       '10259,17$', '30056,00$', '41264,17$', '34699,17$', '20828,17$',
       '24938,33$', '9329,67$', '36933,00$', '10978,50$', '7999,33$',
       '43001,83$', '5000,67$', '12451,83$', '22581,00$', '13751,83$',
       '5087,33$', '6656,00$', '27061,67$', '17376,67$', '36980,67$',
       '19376,50$', '41756,00$', '12083,50$', '5830,50$', '16039,83$',
       '19116,50$', '7754,50$', '38521,17$', '39461,50$', '29416,83$',
       '41578,33$', '37099,83$', '41571,83$', '21684,00$', '17307,33$',
       '15346,50$', '10233,17$', '7381,83$', '6346,17$', '26067,17$',
       '33425,17$', '11106,33$', '20841,17$', '10855,00$', '41238,17$',
       '22533,33$', '6051,50$', '12293,67$', '41593,50$', '18226,00$',
       '7254,00$', '11502,83$', '16583,67$', '27750,67$', '14269,67$',
       '5457,83$', '37047,83$', '28426,67$', '6783,83$', '9628,67$',
       '14460,33$', '21346,00$', '38698,83$', '16133,00$', '29806,83$',
       '35962,33$', '9284,17$', '21935,33$', '21047,00$', '21502,00$',
       '24364,17$', '6649,50$', '20022,17$', '14022,67$', '6619,17$',
       '18028,83$', '6809,83$', '18585,67$', '9093,50$', '21424,00$',
       '28905,50$', '12300,17$', '6302,83$', '20639,67$', '14787,50$',
       '9585,33$', '11788,83$', '13160,33$', '13316,33$', '13372,67$',
       '10114,00$', '12144,17$', '9357,83$', '7722,00$', '13565,50$',
       '14742,00$', '42111,33$', '12627,33$', '5319,17$', '10952,50$',
       '10144,33$', '11390,17$', '4591,17$', '12943,67$', '6573,67$',
       '28626,00$', '18182,67$', '8777,17$', '10410,83$', '5938,83$',
       '11563,50$', '20440,33$', '11691,33$', '24177,83$', '10746,67$',
       '19051,50$', '41576,17$', '4801,33$', '25378,17$', '11492,00$',
       '24056,50$', '14369,33$', '16438,50$', '9392,50$', '12956,67$',
       '9195,33$', '11327,33$', '5850,00$', '5126,33$', '5046,17$',
       '9303,67$', '14570,83$', '22370,83$', '9635,17$', '23497,50$',
       '11856,00$', '13834,17$', '16304,17$', '7930,00$', '18936,67$',
       '29247,83$', '7563,83$', '11310,00$', '22212,67$', '42770,00$',
       '13452,83$', '15370,33$', '9823,67$', '18416,67$', '10051,17$',
       '11619,83$', '8842,17$', '7752,33$', '37544,00$', '23384,83$',
       '23510,50$', '22676,33$', '5117,67$', '13951,17$', '12499,50$',
       '9500,83$', '8809,67$', '11279,67$', '5752,50$', '5568,33$',
       '9754,33$', '10764,00$', '11151,83$', '5889,00$', '7667,83$',
       '11847,33$', '12594,83$', '20945,17$', '11167,00$', '12295,83$',
       '15847,00$', '11045,67$', '29401,67$', '14542,67$', '21647,17$',
       '22204,00$', '23699,00$', '5618,17$', '25735,67$', '17539,17$',
       '36521,33$', '9830,17$', '38835,33$', '8697,00$', '27607,67$',
       '7314,67$', '22711,00$', '9206,17$', '14189,50$', '31223,83$',
       '42436,33$', '17846,83$', '6957,17$', '36192,00$', '10343,67$',
       '9897,33$', '12984,83$', '14081,17$', '7479,33$', '13860,17$',
       '5904,17$', '7847,67$', '13390,00$', '13593,67$', '9492,17$',
       '5544,50$', '11890,67$', '5447,00$', '6924,67$', '7410,00$',
       '8855,17$', '11630,67$', '28028,00$', '9145,50$', '10753,17$',
       '9100,00$', '10846,33$', '16551,17$', '14087,67$', '29304,17$',
       '13756,17$', '13823,33$', '6721,00$', '9871,33$', '9165,00$',
       '10527,83$', '13697,67$', '23315,50$', '6441,50$', '11275,33$',
       '37697,83$', '36584,17$', '9366,50$', '11169,17$', '6361,33$',
       '40709,50$', '10579,83$', '4396,17$', '6491,33$', '20102,33$',
       '9017,67$', '19181,50$', '10564,67$', '4638,83$', '16804,67$',
       '8528,00$', '14824,33$', '8642,83$', '10681,67$', '8021,00$',
       '5860,83$', '9637,33$', '5154,50$', '11888,50$', '6088,33$',
       '19365,67$', '21528,00$', '11817,00$', '40603,33$', '11858,17$',
       '29256,50$', '29356,17$', '39372,67$', '6010,33$', '20451,17$',
       '11407,50$', '8265,83$', '5176,17$', '8666,67$', '38098,67$',
       '12265,50$', '10549,50$', '10072,83$', '22741,33$', '5997,33$',
       '7384,00$', '8135,83$', '4738,50$', '9225,67$', '11539,67$',
       '11884,17$', '6027,67$', '38217,83$', '13134,33$', '13624,00$',
       '7418,67$', '9087,00$', '5486,00$', '12276,33$', '29739,67$',
       '8898,50$', '7793,50$', '8915,83$', '13589,33$', '5453,50$',
       '8458,67$', '19942,00$', '9474,83$', '4472,00$', '5265,00$',
       '10566,83$', '8146,67$', '4361,50$', '6443,67$', '5993,00$',
       '7316,83$', '9128,17$', '14111,50$', '9282,00$', '4823,00$',
       '12048,83$', '4645,33$', '11641,50$', '6276,83$', '11528,83$',
       '11721,67$', '10508,33$', '4335,50$', '9542,00$', '8545,33$',
       '6413,33$', '41051,83$', '14007,50$', '5813,17$', '4363,67$',
       '7455,50$', '29605,33$', '10878,83$', '40828,67$', '10267,83$',
       '23075,00$', '9353,50$', '4385,33$', '6625,67$', '8512,83$',
       '9587,50$', '5044,00$', '5756,83$', '12870,00$', '5681,00$',
       '6959,33$', '6307,17$', '15017,17$', '4714,67$', '6998,33$',
       '40440,83$', '6042,83$', '13888,33$', '10705,50$', '8629,83$',
       '6292,00$', '5841,33$', '4710,33$', '14635,83$', '23757,50$',
       '5509,83$', '42046,33$', '14165,67$', '4892,33$', '4805,67$',
       '5750,33$', '25859,17$', '5516,33$', '8437,00$', '9234,33$',
       '22808,50$', '5200,00$', '7975,50$', '7468,50$', '42278,17$',
       '5761,17$', '19168,50$', '4430,83$', '10510,50$', '17593,33$',
       '9916,83$', '11710,83$', '8034,00$', '29835,00$', '4976,83$',
       '5308,33$', '9407,67$', '5572,67$', '14083,33$', '6822,83$',
       '11535,33$', '9494,33$', '5531,50$', '12854,83$', '9539,83$',
       '23690,33$', '4381,00$', '9221,33$', '7756,67$', '6281,17$',
       '12051,00$', '5150,17$', '5208,67$', '6064,50$', '6090,50$',
       '9483,50$', '9186,67$', '9158,50$', '8486,83$', '10766,17$',
       '4424,33$', '6112,17$', '21573,50$', '4781,83$', '4485,00$',
       '6047,17$', '17818,67$', '5655,00$', '12417,17$', '5501,17$',
       '5148,00$', '41342,17$', '5943,17$', '9832,33$', '8378,50$',
       '4506,67$', '4541,33$', '10025,17$', '4987,67$', '10987,17$',
       '22958,00$', '11845,17$', '5187,00$', '7862,83$', '20284,33$',
       '6996,17$', '35581,00$', '12235,17$', '9533,33$', '4476,33$',
       '11886,33$', '6851,00$', '14410,50$', '10612,33$', '6890,00$',
       '24362,00$', '8816,17$', '13849,33$', '10519,17$', '7176,00$',
       '6753,50$', '32937,67$', '5590,00$', '4693,00$', '9477,00$',
       '11927,50$', '5605,17$', '34606,00$', '4994,17$', '7438,17$',
       '7533,50$', '8465,17$', '7464,17$', '5980,00$', '13637,00$',
       '28418,00$', '7780,50$', '4560,83$', '8454,33$', '5767,67$',
       '4467,67$', '11931,83$', '17556,50$', '8619,00$', '11697,83$',
       '22637,33$', '9620,00$', '5763,33$', '7312,50$', '4916,17$',
       '10371,83$', '6086,17$', '23517,00$', '5570,50$', '13307,67$',
       '5408,00$', '7407,83$', '5418,83$', '5559,67$', '8493,33$',
       '30255,33$', '14170,00$', '4862,00$', '35065,33$', '9171,50$',
       '32097,00$', '37177,83$', '5022,33$', '7836,83$', '5815,33$',
       '41680,17$', '9581,00$', '5529,33$', '5802,33$', '11203,83$',
       '25818,00$', '20323,33$', '12735,67$', '5347,33$', '8941,83$',
       '4654,00$', '8419,67$', '14445,17$', '4528,33$', '4519,67$',
       '4227,17$', '6547,67$', '21068,67$', '7340,67$', '6582,33$',
       '5031,00$', '6339,67$', '9760,83$', '6142,50$', '14198,17$',
       '14458,17$', '29447,17$', '4716,83$', '42286,83$', '41604,33$',
       '21770,67$', '5899,83$', '14395,33$', '6848,83$', '3076,67$',
       '2600,00$', '11349,00$', '21634,17$', '34649,33$', '5135,00$',
       '14692,17$', '14414,83$', '6177,17$', '11392,33$', '5364,67$',
       '4950,83$', '7470,67$', '9875,67$', '3687,67$', '5555,33$',
       '10985,00$', '8190,00$', '21285,33$', '4069,00$', '5070,00$',
       '4608,50$', '4404,83$', '20804,33$', '36025,17$', '4513,17$',
       '2186,17$', '17032,17$', '5724,33$', '11095,50$', '5837,00$',
       '11037,00$', '4927,00$', '5013,67$', '5156,67$', '4350,67$',
       '22862,67$', '4894,50$', '5228,17$', '4595,50$', '5371,17$',
       '28587,00$', '9019,83$', '5633,33$', '39656,50$', '10350,17$',
       '2279,33$', '5332,17$', '5624,67$', '10244,00$', '15927,17$',
       '10326,33$', '6125,17$', '6181,50$', '4961,67$', '4565,17$',
       '4788,33$', '28580,50$', '39574,17$', '2422,33$', '5139,33$',
       '6149,00$', '39132,17$', '3490,50$', '10330,67$', '2760,33$',
       '5548,83$', '3386,50$', '13840,67$', '18148,00$', '10488,83$',
       '4493,67$', '6439,33$', '14765,83$', '5828,33$', '38061,83$',
       '3399,50$', '9071,83$', '7163,00$', '3018,17$', '23579,83$',
       '6201,00$', '14592,50$', '21138,00$', '11470,33$', '5280,17$',
       '8820,50$', '6404,67$', '10070,67$', '6075,33$', '5284,50$',
       '6188,00$', '6354,83$', '2363,83$', '11160,50$', '6203,17$',
       '6192,33$', '2446,17$', '42100,50$'], dtype=object)

In [91]:
df["numcompaniesworked"].unique()

array([7, 0, 1, 3, 2, 4, 8, 9, 5, 6], dtype=int64)

In [93]:
df["numcompaniesworked"].isna().sum()

0

In [94]:
df["over18"].unique()

array(['Y', nan], dtype=object)

In [95]:
df["over18"].isna().sum()

938

In [96]:
df["overtime"].isna().sum()

696

In [97]:
df["overtime"].unique()

array(['No', nan, 'Yes'], dtype=object)

In [104]:
df["standardhours"].isna().sum()

351

In [105]:
df["standardhours"].unique()

array(['Full Time', nan, 'Part Time'], dtype=object)

In [122]:
df["sameasmonthlyincome"].isna().sum()

489

In [123]:
df["sameasmonthlyincome"].unique()

array(['16280,83$', nan, '14307,50$', '12783,92$', '14311,67$',
       '8339,32$', '13829,17$', '15943,72$', '16644,17$', '15034,17$',
       '16038,33$', '4492,84$', '8956,67$', '5167,50$', '3334,17$',
       '8705,83$', '2675,00$', '8555,00$', '8729,17$', '3934,17$',
       '3845,83$', '14132,50$', '8588,33$', '4505,00$', '4918,33$',
       '4928,33$', '5538,33$', '11100,00$', '5572,50$', '11560,00$',
       '15870,83$', '13345,83$', '8010,83$', '3588,33$', '14205,00$',
       '4222,50$', '3076,67$', '2342,59$', '4789,17$', '8685,00$',
       '5289,17$', '1956,67$', '10408,33$', '6683,33$', '7452,50$',
       '16060,00$', '4647,50$', '2242,50$', '6169,17$', '7352,50$',
       '2982,50$', '14815,83$', '15177,50$', '15991,67$', '15989,17$',
       '8340,00$', '6656,67$', '5902,50$', '3935,83$', '2839,17$',
       '2440,83$', '10025,83$', '12855,83$', '5135,00$', '4271,67$',
       '8015,83$', '4175,00$', '15860,83$', '8666,67$', '2327,50$',
       '4728,33$', '7010,00$', '2790,00$', '4424,17$', '6378,33$',
       '10673,33$', '5488,33$', '2099,17$', '10933,33$', '2609,17$',
       '5561,67$', '14884,17$', '6205,00$', '11464,17$', '13831,67$',
       '2557,50$', '7700,83$', '5393,33$', '6934,17$', '7148,33$',
       '3497,50$', '8240,00$', '4730,83$', '7938,33$', '5687,50$',
       '3686,67$', '4534,17$', '5061,67$', '5143,33$', '4670,83$',
       '3599,17$', '2970,00$', '5217,50$', '5670,00$', '16196,67$',
       '4856,67$', '3901,67$', '1765,83$', '4978,33$', '11010,00$',
       '3375,83$', '4004,17$', '2284,17$', '7861,67$', '4496,67$',
       '9299,17$', '4133,33$', '7327,50$', '1846,67$', '9760,83$',
       '4420,00$', '9252,50$', '5526,67$', '6322,50$', '3612,50$',
       '4983,33$', '3536,67$', '4356,67$', '2250,00$', '1971,67$',
       '1940,83$', '8604,17$', '9037,50$', '5320,83$', '3050,00$',
       '7283,33$', '11249,17$', '2909,17$', '4350,00$', '8543,33$',
       '16450,00$', '5174,17$', '3778,33$', '7083,33$', '3865,83$',
       '4469,17$', '3400,83$', '8994,17$', '9042,50$', '3654,17$',
       '3388,33$', '4338,33$', '2212,50$', '2141,67$', '3751,67$',
       '4140,00$', '4289,17$', '2265,00$', '2949,17$', '4556,67$',
       '4844,17$', '8055,83$', '4729,17$', '6095,00$', '11308,33$',
       '8325,83$', '8540,00$', '9115,00$', '2160,83$', '9898,33$',
       '6745,83$', '14046,67$', '3780,83$', '3345,00$', '10618,33$',
       '8735,00$', '3540,83$', '5457,50$', '12009,17$', '6864,17$',
       '2675,83$', '13920,00$', '3806,67$', '4994,17$', '5415,83$',
       '5330,83$', '3018,33$', '5228,33$', '4573,33$', '2095,00$',
       '2663,33$', '2850,00$', '3405,83$', '3500,00$', '4171,67$',
       '5418,33$', '5290,83$', '3796,67$', '3525,00$', '8967,50$',
       '4336,67$', '14499,17$', '4295,83$', '15657,50$', '4069,17$',
       '2496,67$', '7731,67$', '3468,33$', '7377,50$', '6463,33$',
       '3324,17$', '3085,00$', '2254,17$', '3706,67$', '7448,33$',
       '8280,00$', '15616,67$', '4560,83$', '11252,50$', '11290,83$',
       '2311,67$', '7865,83$', '4387,50$', '3179,17$', '1990,83$',
       '3333,33$', '14653,33$', '4717,50$', '4057,50$', '3874,17$',
       '8746,67$', '2840,00$', '3548,33$', '4570,83$', '2318,33$',
       '5240,00$', '3495,00$', '2110,00$', '11438,33$', '3422,50$',
       '2997,50$', '3429,17$', '5226,67$', '7670,00$', '3644,17$',
       '1720,00$', '2025,00$', '4064,17$', '3133,33$', '1677,50$',
       '2305,00$', '5427,50$', '1855,00$', '4634,17$', '1786,67$',
       '4477,50$', '2414,17$', '4434,17$', '1667,50$', '3670,00$',
       '3286,67$', '15789,17$', '1678,33$', '11386,67$', '4184,17$',
       '3949,17$', '3597,50$', '1686,67$', '3274,17$', '3687,50$',
       '1940,00$', '2214,17$', '2185,00$', '2676,67$', '2425,83$',
       '1813,33$', '15554,17$', '5341,67$', '4117,50$', '3319,17$',
       '2420,00$', '2246,67$', '5629,17$', '9137,50$', '16171,67$',
       '5448,33$', '1881,67$', '2211,67$', '9945,83$', '3245,00$',
       '2000,00$', '2872,50$', '16260,83$', '2215,83$', '7372,50$',
       '4042,50$', '3814,17$', '11475,00$', '1914,17$', '2041,67$',
       '3618,33$', '2143,33$', '5416,67$', '2624,17$', '4436,67$',
       '3651,67$', '2127,50$', '4944,17$', '9111,67$', '1685,00$',
       '3546,67$', '2983,33$', '2415,83$', '4635,00$', '1980,83$',
       '2332,50$', '2876,67$', '2342,50$', '3647,50$', '3533,33$',
       '3522,50$', '3264,17$', '1701,67$', '2350,83$', '8297,50$',
       '1839,17$', '4775,83$', '3781,67$', '1733,33$', '3253,33$',
       '3855,83$', '1918,33$', '8830,00$', '4555,83$', '4807,50$',
       '1995,00$', '2690,83$', '13685,00$', '4705,83$', '1721,67$',
       '4571,67$', '2635,00$', '5542,50$', '2424,17$', '4081,67$',
       '2650,00$', '3390,83$', '5326,67$', '4045,83$', '2760,00$',
       '2150,00$', '1805,00$', '3645,00$', '4587,50$', '2155,83$',
       '13310,00$', '2860,83$', '2897,50$', '3255,83$', '2870,83$',
       '2300,00$', '5245,00$', '10930,00$', '2992,50$', '4504,17$',
       '1754,17$', '3251,67$', '2218,33$', '4589,17$', '6752,50$',
       '3315,00$', '4499,17$', '8706,67$', '3700,00$', '2216,67$',
       '2812,50$', '1890,83$', '2340,83$', '9045,00$', '2142,50$',
       '2849,17$', '2084,17$', '2138,33$', '3266,67$', '11636,67$',
       '5450,00$', '1870,00$', '13486,67$', '3527,50$', '12345,00$',
       '1931,67$', '16030,83$', '2126,67$', '2231,67$', '4898,33$',
       '3439,17$', '1790,00$', '5555,83$', '8103,33$', '2823,33$',
       '2531,67$', '1935,00$', '2438,33$', '3754,17$', '5560,83$',
       '11325,83$', '16264,17$', '16001,67$', '8373,33$', '2269,17$',
       '2634,17$', '1183,33$', '1000,00$', '4365,00$', '1975,00$',
       '5650,83$', '5544,17$', '2063,33$', '1904,17$', '2873,33$',
       '3798,33$', '1418,33$', '2136,67$', '3150,00$', '1950,00$',
       '1772,50$', '1694,17$', '8001,67$', '13855,83$', '1735,83$',
       '84083$', '6550,83$', '2201,67$', '4267,50$', '2245,00$',
       '4245,00$', '1928,33$', '1673,33$', '8793,33$', '1882,50$',
       '3469,17$', '15252,50$', '1983,33$', '3980,83$', '87667$',
       '6125,83$', '3971,67$', '2377,50$', '1755,83$', '1841,67$',
       '10992,50$', '15220,83$', '93167$', '2365,00$', '15050,83$',
       '1342,50$', '3973,33$', '2003,33$', '5323,33$', '4034,17$',
       '1728,33$', '2476,67$', '5679,17$', '2241,67$', '3489,17$',
       '9069,17$', '2385,00$', '5612,50$', '4411,67$', '2030,83$',
       '2463,33$', '3873,33$', '2336,67$', '2032,50$', '2380,00$',
       '2444,17$', '2385,83$', '2381,67$', '94083$', '16192,50$',
       '1923,33$', '2115,83$', '1980,00$', '4295,00$', '1811,67$',
       '2119,17$', '1848,33$', '2045,83$', '4380,83$', '2528,33$',
       '6993,33$', '15990,83$', '3578,33$', '3705,83$'], dtype=object)

In [124]:
df["datebirth"].isna().sum()

0

In [125]:
df["datebirth"].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [126]:
df["salary"].isna().sum()

285

In [127]:
df["salary"].unique()

array(['195370,00$', '199990,00$', '192320,00$', '171690,00$', nan,
       '100071,84$', '53914,11$', '165950,00$', '199730,00$',
       '134020,00$', '132060,00$', '195450,00$', '180410,00$',
       '192460,00$', '107480,00$', '167520,00$', '62010,00$',
       '198450,00$', '40010,00$', '104470,00$', '191324,62$',
       '160640,00$', '32100,00$', '102660,00$', '104750,00$', '61620,00$',
       '47210,00$', '153407,07$', '28111,13$', '46150,00$', '169590,00$',
       '54060,00$', '59020,00$', '108550,00$', '59140,00$', '66460,00$',
       '139730,00$', '66870,00$', '47350,00$', '138720,00$', '190450,00$',
       '96130,00$', '115100,00$', '170460,00$', '36920,00$', '198470,00$',
       '23080,00$', '57470,00$', '104220,00$', '63470,00$', '23480,00$',
       '30720,00$', '124900,00$', '80200,00$', '170680,00$', '89430,00$',
       '192720,00$', '55770,00$', '26910,00$', '74030,00$', '88230,00$',
       '35790,00$', '177790,00$', '182130,00$', '135770,00$',
       '191900,00$', '171230,00$', '191870,00$', '79880,00$', '70830,00$',
       '34070,00$', '29290,00$', '120310,00$', '154270,00$', '51260,00$',
       '96190,00$', '190330,00$', '104000,00$', '56740,00$', '191970,00$',
       '84120,00$', '33480,00$', '53090,00$', '76540,00$', '128080,00$',
       '65860,00$', '25190,00$', '170990,00$', '131200,00$', '44440,00$',
       '98520,00$', '178610,00$', '137570,00$', '165980,00$', '42850,00$',
       '101240,00$', '97140,00$', '99240,00$', '112450,00$', '92410,00$',
       '64720,00$', '30550,00$', '83210,00$', '31430,00$', '85780,00$',
       '98880,00$', '133410,00$', '29090,00$', '95260,00$', '44240,00$',
       '60740,00$', '61460,00$', '61720,00$', '46680,00$', '56050,00$',
       '43190,00$', '35640,00$', '62610,00$', '68040,00$', '194360,00$',
       '24550,00$', '50550,00$', '52570,00$', '59740,00$', '30340,00$',
       '83920,00$', '40510,00$', '48050,00$', '53370,00$', '94340,00$',
       '53960,00$', '111590,00$', '87930,00$', '191890,00$', '22160,00$',
       '117130,00$', '53040,00$', '111030,00$', '66320,00$', '75870,00$',
       '43350,00$', '59800,00$', '52280,00$', '27000,00$', '23660,00$',
       '23290,00$', '42940,00$', '67250,00$', '103250,00$', '44470,00$',
       '108450,00$', '54720,00$', '63850,00$', '75250,00$', '87400,00$',
       '134990,00$', '34910,00$', '102520,00$', '197400,00$', '62090,00$',
       '70940,00$', '45340,00$', '85000,00$', '46390,00$', '53630,00$',
       '40810,00$', '35780,00$', '173280,00$', '107930,00$', '108510,00$',
       '104660,00$', '23620,00$', '64390,00$', '57690,00$', '40660,00$',
       '52060,00$', '25700,00$', '45020,00$', '49680,00$', '51470,00$',
       '27180,00$', '54680,00$', '96670,00$', '51540,00$', '56750,00$',
       '73140,00$', '50980,00$', '135700,00$', '67120,00$', '99910,00$',
       '102480,00$', '25930,00$', '80950,00$', '168560,00$', '45370,00$',
       '179240,00$', '40140,00$', '127420,00$', '33760,00$', '104820,00$',
       '42490,00$', '195860,00$', '82370,00$', '47740,00$', '45680,00$',
       '59930,00$', '64990,00$', '34520,00$', '63970,00$', '27250,00$',
       '36220,00$', '61800,00$', '62740,00$', '43810,00$', '25590,00$',
       '54880,00$', '25140,00$', '31960,00$', '34200,00$', '53680,00$',
       '129360,00$', '42210,00$', '49630,00$', '76390,00$', '135250,00$',
       '63800,00$', '31020,00$', '45560,00$', '42300,00$', '48590,00$',
       '63220,00$', '107610,00$', '29730,00$', '52040,00$', '173990,00$',
       '168850,00$', '43230,00$', '51550,00$', '29360,00$', '187890,00$',
       '48830,00$', '20290,00$', '29960,00$', '92780,00$', '88530,00$',
       '48760,00$', '21410,00$', '39360,00$', '68420,00$', '39890,00$',
       '49300,00$', '27050,00$', '44480,00$', '23790,00$', '54870,00$',
       '28100,00$', '89380,00$', '99360,00$', '54540,00$', '54730,00$',
       '135030,00$', '135490,00$', '181720,00$', '27740,00$', '94390,00$',
       '52650,00$', '38150,00$', '23890,00$', '175840,00$', '48690,00$',
       '46490,00$', '104960,00$', '27680,00$', '34080,00$', '37550,00$',
       '21870,00$', '42580,00$', '53260,00$', '27820,00$', '176390,00$',
       '60620,00$', '62880,00$', '34240,00$', '41940,00$', '25320,00$',
       '56660,00$', '137260,00$', '41070,00$', '35970,00$', '41150,00$',
       '62720,00$', '25170,00$', '39040,00$', '92040,00$', '43730,00$',
       '20640,00$', '24300,00$', '48770,00$', '37600,00$', '29740,00$',
       '27660,00$', '33770,00$', '42130,00$', '65130,00$', '42840,00$',
       '22260,00$', '55610,00$', '53730,00$', '28970,00$', '54100,00$',
       '48500,00$', '39440,00$', '29600,00$', '189470,00$', '64650,00$',
       '26830,00$', '20140,00$', '34410,00$', '136640,00$', '50210,00$',
       '188440,00$', '106500,00$', '43170,00$', '20240,00$', '30580,00$',
       '39290,00$', '44250,00$', '23280,00$', '59400,00$', '26220,00$',
       '32120,00$', '29110,00$', '69310,00$', '21760,00$', '32300,00$',
       '186650,00$', '27890,00$', '64100,00$', '49410,00$', '39830,00$',
       '29040,00$', '21740,00$', '26570,00$', '109650,00$', '25430,00$',
       '194060,00$', '65380,00$', '22180,00$', '26540,00$', '119350,00$',
       '25460,00$', '38940,00$', '42620,00$', '105270,00$', '36810,00$',
       '34470,00$', '88470,00$', '20450,00$', '48510,00$', '81200,00$',
       '45770,00$', '54050,00$', '37080,00$', '137700,00$', '24500,00$',
       '43420,00$', '31490,00$', '53240,00$', '43820,00$', '25530,00$',
       '59330,00$', '44030,00$', '109340,00$', '20220,00$', '42560,00$',
       '28990,00$', '23770,00$', '24040,00$', '27990,00$', '28110,00$',
       '43770,00$', '42270,00$', '39170,00$', '49690,00$', '20420,00$',
       '22070,00$', '20700,00$', '27910,00$', '82240,00$', '26100,00$',
       '57310,00$', '25390,00$', '23760,00$', '190810,00$', '27430,00$',
       '45380,00$', '38670,00$', '20800,00$', '20960,00$', '46270,00$',
       '23020,00$', '50710,00$', '54670,00$', '23940,00$', '36290,00$',
       '93620,00$', '32290,00$', '164220,00$', '44000,00$', '20660,00$',
       '66510,00$', '48980,00$', '31800,00$', '112440,00$', '63920,00$',
       '33120,00$', '31170,00$', '152020,00$', '25800,00$', '21660,00$',
       '43740,00$', '55050,00$', '159720,00$', '23050,00$', '34770,00$',
       '39070,00$', '34450,00$', '27600,00$', '62940,00$', '21050,00$',
       '39020,00$', '20620,00$', '25870,00$', '55070,00$', '81030,00$',
       '39780,00$', '53990,00$', '44400,00$', '26600,00$', '33750,00$',
       '22690,00$', '47870,00$', '28090,00$', '25710,00$', '61420,00$',
       '24960,00$', '34190,00$', '25010,00$', '39200,00$', '65400,00$',
       '161840,00$', '171590,00$', '36170,00$', '26840,00$', '192370,00$',
       '44220,00$', '26780,00$', '51710,00$', '119160,00$', '93800,00$',
       '24680,00$', '41270,00$', '21480,00$', '38860,00$', '20900,00$',
       '20860,00$', '19510,00$', '30220,00$', '97240,00$', '33880,00$',
       '23220,00$', '45050,00$', '28350,00$', '65530,00$', '66730,00$',
       '135910,00$', '21770,00$', '195170,00$', '192020,00$',
       '100480,00$', '27230,00$', '66440,00$', '31610,00$', '12000,00$',
       '52380,00$', '99850,00$', '159920,00$', '23700,00$', '67810,00$',
       '28510,00$', '52580,00$', '22850,00$', '41970,00$', '45580,00$',
       '17020,00$', '25640,00$', '50700,00$', '37800,00$', '98240,00$',
       '18780,00$', '21270,00$', '20330,00$', '96020,00$', '166270,00$',
       '20830,00$', '10090,00$', '78610,00$', '26420,00$', '51210,00$',
       '26940,00$', '50940,00$', '22740,00$', '23140,00$', '23800,00$',
       '20080,00$', '105520,00$', '22590,00$', '24130,00$', '21210,00$',
       '24790,00$', '131940,00$', '26000,00$', '183030,00$', '47770,00$',
       '10520,00$', '24610,00$', '25960,00$', '47280,00$', '73510,00$',
       '47660,00$', '22580,00$', '28270,00$', '28530,00$', '22900,00$',
       '21070,00$', '22100,00$', '131910,00$', '182650,00$', '23720,00$',
       '28380,00$', '180610,00$', '16110,00$', '47680,00$', '12740,00$',
       '25610,00$', '15630,00$', '83760,00$', '48410,00$', '29720,00$',
       '68150,00$', '175670,00$', '15690,00$', '41870,00$', '33060,00$',
       '13930,00$', '108830,00$', '67350,00$', '97560,00$', '52940,00$',
       '24370,00$', '40710,00$', '29560,00$', '46480,00$', '28040,00$',
       '24390,00$', '29330,00$', '10910,00$', '51510,00$', '28630,00$',
       '11290,00$', '194310,00$', '21440,00$', '160150,00$', '43060,00$',
       '28210,00$', '35390,00$', '58130,00$', '26960,00$', '67550,00$',
       '58280,00$', '132120,00$', '27410,00$', '49600,00$', '42440,00$'],
      dtype=object)

In [128]:
df["roledepartament"].isna().sum()

1366

In [129]:
df["roledepartament"].unique()

array([nan, ' ManaGER  -  Research & Development ',
       ' MANAger  -  Research & Development ',
       ' heaLtHcArE repResENtATiVe  -  Research & Development ',
       ' saLEs exEcutIVe  -  Sales ', ' Sales ExECuTIVe  -  Sales ',
       ' heALthCArE RePResEntaTIVe  -  Research & Development ',
       ' lABORAtOry tECHnIcIan  -  Research & Development ',
       ' ManufactUrINg DiReCTOr  -  Research & Development ',
       ' SaleS eXEcUtIVE  -  Sales ',
       ' HEaLthcaRe rEprEsEnTAtiVe  -  Research & Development ',
       ' rESeArCH sCientIST  -  Research & Development ',
       ' healTHCAre rePREseNtATiVE  -  Research & Development ',
       ' mANaGer  -  Research & Development ',
       ' HEAltHCaRe REPreseNTatIve  -  Research & Development ',
       ' SaLeS eXECUTivE  -  Sales ',
       ' reSeARCH SCIEnTiST  -  Research & Development ',
       ' ReSearch DiRecTOR  -  Research & Development ',
       ' resEaRCh SciEnTist  -  Research & Development ',
       ' hUmaN REsoUrCes  -  Human Resources ',
       ' manAgER  -  Research & Development ',
       ' SaLES eXeCUtIVE  -  Sales ',
       ' reSEarCH scIentISt  -  Research & Development ',
       ' ReSeARCh DiRECtor  -  Research & Development ',
       ' MaNAgeR  -  Sales ',
       ' RESEArCH sCIenTIst  -  Research & Development ',
       ' hUMAn reSoUrCES  -  Human Resources ',
       ' HUmAN rESOuRceS  -  Human Resources ',
       ' SaleS EXeCuTivE  -  Sales ',
       ' ReSeARch scIENTISt  -  Research & Development ',
       ' LaBoRaTorY TeChNicIAn  -  Research & Development ',
       ' ManUfaCTUriNg dIReCtor  -  Research & Development ',
       ' saLES ExECuTIVe  -  Sales ',
       ' RESEaRch SCIEntISt  -  Research & Development ',
       ' mAnUFaCtUrinG diReCtor  -  Research & Development ',
       ' maNUFAcTURING direCTOr  -  Research & Development ',
       ' labOraTORy techNicIan  -  Research & Development ',
       ' SAlEs ExeCUtive  -  Sales ',
       ' MANUFACturING DIRecToR  -  Research & Development ',
       ' Sales eXECuTIvE  -  Sales ',
       ' mANUfaCTuRiNG DiRECtOr  -  Research & Development ',
       ' ManUFACtURiNg DiRECTOr  -  Research & Development ',
       ' ResEARcH DiReCToR  -  Research & Development ',
       ' MANAgER  -  Research & Development ',
       ' labORATORY TechnIcIaN  -  Research & Development ',
       ' MaNUfacTurINg DiReCTor  -  Research & Development ',
       ' ReSEaRcH sciENTIST  -  Research & Development ',
       ' rESEARCh dIrEcTOr  -  Research & Development ',
       ' MANUfACTuRinG diRecTOR  -  Research & Development ',
       ' HeaLThCArE REpRESENTAtIVe  -  Research & Development ',
       ' LABOraTory TecHnIciaN  -  Research & Development ',
       ' sales rEprESEntAtIvE  -  Sales ',
       ' mANuFacTurinG DirECtoR  -  Research & Development ',
       ' lABorATOrY TeChnICIan  -  Research & Development ',
       ' RESEarCh SCIEnTiST  -  Research & Development ',
       ' SALes exEcuTIVe  -  Sales ',
       ' REseARCH DirectOr  -  Research & Development ',
       ' sAlES EXEcUtIVe  -  Sales ',
       ' lABoraToRY teCHnIcIaN  -  Research & Development ',
       ' LaBorATORy tEChnICiaN  -  Research & Development ',
       ' sales ExecutIvE  -  Sales ', ' sAles exECUtiVe  -  Sales ',
       ' SALEs eXecuTiVE  -  Sales ', ' SaleS executIVE  -  Sales ',
       ' rEsEArCH sCIeNTIST  -  Research & Development ',
       ' reSEArch SCIEntIsT  -  Research & Development ',
       ' rESeArCh DIrEctor  -  Research & Development ',
       ' saLES ExECUtiVe  -  Sales ',
       ' LaboRATory tEchNICIAn  -  Research & Development ',
       ' SAlEs exECUtIVe  -  Sales ', ' salEs eXECuTivE  -  Sales ',
       ' ReseaRch scIenTisT  -  Research & Development ',
       ' LaBoraTORY teCHNiCIaN  -  Research & Development ',
       ' sALEs ExeCuTive  -  Sales ',
       ' heALtHCARE rePResENtAtivE  -  Research & Development ',
       ' ManAgEr  -  Research & Development ',
       ' laboRAtORy TecHnICiAN  -  Research & Development ',
       ' ReSeARCH diRECtoR  -  Research & Development ',
       ' LAborAtOry TEchniCIAn  -  Research & Development ',
       ' SaLeS eXECutiVE  -  Sales ', ' SalEs eXECuTive  -  Sales ',
       ' rESeaRCH DIReCToR  -  Research & Development ',
       ' mANAGeR  -  Human Resources ', ' saLeS exECUtive  -  Sales ',
       ' maNuFAcTURInG DIReCtoR  -  Research & Development ',
       ' LABORaTorY TEChNIcIAN  -  Research & Development ',
       ' hEalTHcARe RePrEseNTATive  -  Research & Development ',
       ' mANuFActuring DireCtOR  -  Research & Development ',
       ' MaNagEr  -  Research & Development ',
       ' SaLeS exeCuTIVe  -  Sales ',
       ' lAboRaTory tECHNIciAN  -  Research & Development ',
       ' saLes eXECUTIVe  -  Sales ', ' saLes EXEcuTiVe  -  Sales ',
       ' mAnaGeR  -  Research & Development ',
       ' HEALThCaRe rePResEnTaTivE  -  Research & Development ',
       ' mAnAgEr  -  Research & Development ',
       ' MaNageR  -  Research & Development ',
       ' HeAlThCarE rEpreSentatiVe  -  Research & Development ',
       ' HUMAN ResoURCeS  -  Human Resources ',
       ' huMAn ResOurces  -  Human Resources ',
       ' mANUfacTURiNG dIRectOR  -  Research & Development ',
       ' saLES eXEcUTiVE  -  Sales ',
       ' labORaTORY teChNIcIaN  -  Research & Development ',
       ' saLes eXeCUTivE  -  Sales ', ' Sales exECutIVE  -  Sales ',
       ' saleS eXEcuTIvE  -  Sales ', ' SALes ExeCUtive  -  Sales ',
       ' reSearCH SCieNtIst  -  Research & Development ',
       ' HEALThcaRe RePresENtaTiVE  -  Research & Development ',
       ' rEsEARch sCientIST  -  Research & Development ',
       ' HealthcARE RePreSENtAtiVe  -  Research & Development ',
       ' ResEArch ScieNTiST  -  Research & Development ',
       ' labORaTORy TecHniciAN  -  Research & Development ',
       ' SalEs exECUTIvE  -  Sales ',
       ' LabOrATory TEChNICiaN  -  Research & Development ',
       ' reSeArcH scieNtist  -  Research & Development ',
       ' maNuFAcTUring DIrecToR  -  Research & Development ',
       ' ResEARCh DIRECtoR  -  Research & Development ',
       ' SaLes exECutIVe  -  Sales ', ' SAleS eXecuTIVe  -  Sales ',
       ' manAGER  -  Sales ',
       ' LaBOrATORy teCHnIciaN  -  Research & Development ',
       ' SAlES ExecuTIVe  -  Sales ', ' salES exEcUtiVE  -  Sales ',
       ' SAlEs ExECUTIVe  -  Sales ',
       ' HEaLTHcaRE rePReseNtaTIvE  -  Research & Development ',
       ' sAles eXEcUtIve  -  Sales ',
       ' laBoraTorY tEChnICiaN  -  Research & Development ',
       ' MANufacTURIng diREcTOr  -  Research & Development ',
       ' REsearch scIENtist  -  Research & Development ',
       ' heaLtHcARe RePReSENtaTIve  -  Research & Development ',
       ' lAbOrAtorY techNiCiaN  -  Research & Development ',
       ' laboRaTOrY TEchniCIaN  -  Research & Development ',
       ' SAles ExECutIvE  -  Sales ',
       ' HeALtHCarE represEntAtIVe  -  Research & Development ',
       ' HEalThCaRe rEpReSENtatIVe  -  Research & Development ',
       ' HEalTHCare REPrEsEntATiVE  -  Research & Development ',
       ' LaBoRaToRY TEcHnIcian  -  Research & Development ',
       ' SAlES ExecutIve  -  Sales ',
       ' LaBOrAtory TECHNIciAN  -  Research & Development ',
       ' ReSeArch scIenTIsT  -  Research & Development ',
       ' SaLEs EXECutIVe  -  Sales ',
       ' rESEARch DiRector  -  Research & Development ',
       ' HEaltHcare rEPrEsEnTatIVe  -  Research & Development ',
       ' lABORatORY TeChNiCiAN  -  Research & Development ',
       ' LaBOratory TeChnICiAn  -  Research & Development ',
       ' maNAGer  -  Sales ', ' hUMAn rEsOuRCES  -  Human Resources ',
       ' sales ExeCUTiVE  -  Sales ', ' saLEs exeCUtiVe  -  Sales ',
       ' laBorAtORy TECHnicIaN  -  Research & Development ',
       ' ReSeaRch SCIEnTiSt  -  Research & Development ',
       ' rEsEArcH scIenTIst  -  Research & Development ',
       ' RESeArch dIREcToR  -  Research & Development ',
       ' saLes ExECutIVE  -  Sales ',
       ' REseARCh SCIenTIst  -  Research & Development ',
       ' sALEs exECuTiVe  -  Sales ',
       ' rEseArCh SCieNtiST  -  Research & Development ',
       ' lABoRAtoRY TecHnIcian  -  Research & Development ',
       ' researcH SciEntIST  -  Research & Development ',
       ' REseARCH ScIeNTIST  -  Research & Development ',
       ' sAles ExecUtive  -  Sales ',
       ' mAnUfaCTuRing DiRecTor  -  Research & Development ',
       ' SaLes exEcUtIvE  -  Sales ',
       ' ReseArCH scIenTIst  -  Research & Development ',
       ' ReseArch sCienTiST  -  Research & Development ',
       ' ReSEarcH SCiEnTISt  -  Research & Development ',
       ' laBORATORY tECHNiciAN  -  Research & Development ',
       ' rESeArCH sCIeNtISt  -  Research & Development ',
       ' humAN resoURCEs  -  Human Resources ',
       ' REseARCh scieNTIsT  -  Research & Development ',
       ' SaLeS REPRESENtATIvE  -  Sales ',
       ' ResEArch SciEntiST  -  Research & Development ',
       ' ReSEaRCh SCIEnTist  -  Research & Development ',
       ' hUmAn REsOurCES  -  Human Resources ',
       ' sALeS EXecuTIVe  -  Sales ',
       ' ReseArCh SciENTIsT  -  Research & Development ',
       ' sALes rEprESentAtIvE  -  Sales ',
       ' humaN reSOUrcEs  -  Human Resources ',
       ' lAboRatOrY TechNiCiAn  -  Research & Development ',
       ' HeAlthcaRE rEPrEseNTaTIVE  -  Research & Development ',
       ' sALeS eXecuTIvE  -  Sales ', ' SALeS RepREsEnTatiVe  -  Sales ',
       ' SaLes rePrESENTaTivE  -  Sales ',
       ' rESEaRch sCientISt  -  Research & Development ',
       ' laBORatoRy TEcHnician  -  Research & Development ',
       ' ReSeaRch SCIentiST  -  Research & Development ',
       ' RESEarch ScieNtIst  -  Research & Development ',
       ' sALeS RePresenTAtivE  -  Sales ',
       ' LABORAToRy tEchNICiAn  -  Research & Development ',
       ' ResEArch sCIEnTiST  -  Research & Development ',
       ' ReSEArcH sCIeNtist  -  Research & Development ',
       ' LaBoRaTory techNICIAN  -  Research & Development ',
       ' hEaLThcARE rEpresEntATiVE  -  Research & Development ',
       ' mANufActuRIng DirECTOR  -  Research & Development ',
       ' laBOraTOrY TecHNIcIan  -  Research & Development ',
       ' sALES ReprEsentatiVE  -  Sales ',
       ' laBoRatoRy TEChNICiAN  -  Research & Development ',
       ' ReSEarch scIeNTIsT  -  Research & Development ',
       ' researCh SCientIsT  -  Research & Development ',
       ' ReseaRch scIENTisT  -  Research & Development ',
       ' lAboRaToRY teChNICIan  -  Research & Development ',
       ' rEsEaRCh diReCtOR  -  Research & Development ',
       ' labORAtoRy tEcHNICIAN  -  Research & Development ',
       ' SAlES exeCutive  -  Sales ',
       ' hEalthCaRe reprEseNTaTiVe  -  Research & Development ',
       ' ManufacTURInG DIRECtOR  -  Research & Development ',
       ' sAles exEcUtIve  -  Sales ',
       ' reseARCh SCieNTisT  -  Research & Development ',
       ' reSEarcH scIENtISt  -  Research & Development ',
       ' reseArCH scIentISt  -  Research & Development ',
       ' MANuFaCturiNG dIRECTOR  -  Research & Development ',
       ' HuMan resoUrCes  -  Human Resources ',
       ' huMAn Resources  -  Human Resources ',
       ' Sales EXEcUTiVe  -  Sales ',
       ' reSEaRCH scIenTisT  -  Research & Development ',
       ' sales rEpRESEnTatIve  -  Sales ',
       ' reseaRch DIrecTOr  -  Research & Development ',
       ' sALeS eXECutivE  -  Sales ',
       ' Human REsouRCeS  -  Human Resources ',
       ' rESeArcH sCientIST  -  Research & Development ',
       ' SAlES RepreSENtATiVe  -  Sales ', ' SAles execUTIve  -  Sales ',
       ' RESEArch SCIEnTISt  -  Research & Development ',
       ' labOrATOry TEchnIcIaN  -  Research & Development ',
       ' sALes ExEcUTIVe  -  Sales ',
       ' REsEARch sCIenTIsT  -  Research & Development ',
       ' RESeARch ScIeNtisT  -  Research & Development ',
       ' rEseARCH ScIeNtIST  -  Research & Development ',
       ' ManAGEr  -  Research & Development ',
       ' LaBoratory TECHnICIAn  -  Research & Development ',
       ' saLES exEcutivE  -  Sales ',
       ' LABorATory TecHnIcIaN  -  Research & Development ',
       ' HumAN REsourceS  -  Human Resources ',
       ' reseaRCh SCIentIst  -  Research & Development ',
       ' LaBOrAToRy teChNiciAn  -  Research & Development ',
       ' LaborAtorY Technician  -  Research & Development ',
       ' rEseaRCH sCIeNtiSt  -  Research & Development ',
       ' LABOrATOrY TEchnIcIAn  -  Research & Development ',
       ' ReSeARCh DireCtOr  -  Research & Development ',
       ' LaBORatORy tEchNiCian  -  Research & Development ',
       ' laBorATOrY TeChNIcIAn  -  Research & Development ',
       ' sALEs RePREsentaTive  -  Sales ', ' mAnageR  -  Sales ',
       ' rESEArcH SCiEntIst  -  Research & Development ',
       ' heAlThcaRe REprESeNTATive  -  Research & Development ',
       ' LABoratOry TeCHnIcIan  -  Research & Development ',
       ' hEAlthCarE rEpresenTATiVe  -  Research & Development ',
       ' HealTHcaRE rEPreSEntATive  -  Research & Development ',
       ' MaNUfActuRInG diREctOr  -  Research & Development ',
       ' saLes REPrEsentAtiVE  -  Sales ',
       ' LABorAtORy TEchnIciAn  -  Research & Development ',
       ' rEsEARcH ScieNTisT  -  Research & Development ',
       ' SalEs eXecuTive  -  Sales ', ' SaLeS EXEcUTiVe  -  Sales ',
       ' MaNufacTuRINg DirEcTor  -  Research & Development ',
       ' resEaRcH scIENTiSt  -  Research & Development ',
       ' SALes eXECuTIvE  -  Sales ',
       ' LabORatORy tEChnIcIAn  -  Research & Development ',
       ' LaBorAtOrY teCHNICIAn  -  Research & Development ',
       ' saLEs RePREsentAtiVE  -  Sales ',
       ' laBOrATORY TechNiCiAn  -  Research & Development ',
       ' sALes exECutIVe  -  Sales ',
       ' LabOraToRy technICiAN  -  Research & Development ',
       ' lAborAtORY TeCHNIciAN  -  Research & Development ',
       ' SAlES rePrESentaTIVe  -  Sales ',
       ' mANager  -  Research & Development ',
       ' HEAlThcARe rEPREseNtATIVe  -  Research & Development ',
       ' REsEArCH dIrECTOr  -  Research & Development ',
       ' rESeaRch SCIeNTIST  -  Research & Development ',
       ' SALEs REpRESentatIve  -  Sales ', ' SalES eXecUTiVE  -  Sales ',
       ' SaLes REPREseNtATive  -  Sales ',
       ' ReSeArch sCIEnTiSt  -  Research & Development ',
       ' sales REPReSeNtAtIVe  -  Sales ', ' sAles execUtIve  -  Sales ',
       ' LABOrATORy tEChNiCIaN  -  Research & Development ',
       ' hEalthCarE REPResEnTaTive  -  Research & Development ',
       ' mANagER  -  Research & Development ',
       ' sales repResENTaTiVE  -  Sales ',
       ' laboRAToRY tEChniCIAN  -  Research & Development ',
       ' resEaRcH sCIeNTisT  -  Research & Development ',
       ' maNuFAcTurING diREctOr  -  Research & Development ',
       ' mAnAger  -  Research & Development ',
       ' SALes eXEcUtiVe  -  Sales ',
       ' reSearCh SCiEnTist  -  Research & Development ',
       ' rESEARch SciENtiSt  -  Research & Development ',
       ' hUman ResourCeS  -  Human Resources ',
       ' SALES exeCUtIve  -  Sales ',
       ' ReseaRcH sCientiSt  -  Research & Development ',
       ' LAbORaTory tEcHnIciAN  -  Research & Development ',
       ' lABOraTOrY tecHniciaN  -  Research & Development ',
       ' sALeS exEcUtiVe  -  Sales ', ' salEs eXEcuTIvE  -  Sales ',
       ' SAleS ExEcuTiVE  -  Sales ', ' SaLeS exEcUTiVE  -  Sales ',
       ' ReSEArch scieNTiST  -  Research & Development ',
       ' reSEArCh sCieNtiST  -  Research & Development ',
       ' ReseaRCh dIRecTor  -  Research & Development ',
       ' SaLEs ExECUtiVE  -  Sales ',
       ' LAbORAToRy tEcHNICian  -  Research & Development ',
       ' sAleS EXECUtIvE  -  Sales '], dtype=object)

In [130]:
df["numberchildren"].unique()

array([nan])

In [131]:
df["numberchildren"].isna().sum()

1678

In [132]:
df["remotework"].isna().sum()

0

In [133]:
df["remotework"].unique()

array(['Yes', '1', 'False', '0', 'True'], dtype=object)

In [ ]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [ ]:
#transformar el 0 y 1 por estereotipos de género como masculino y femenino con asignación directa, la empresa debe
#replantearse el non-binary
df['gender'] = df['gender'].replace(0, 'M')

df['gender'] = df['gender'].replace(1, 'F')
print(df['gender'])

0       M
1       M
2       M
3       F
4       F
       ..
1673    F
1674    F
1675    M
1676    F
1677    F
Name: gender, Length: 1678, dtype: object

In [ ]:
#Algunas columnas, como la columna DailyRate son columnas que incluyen valores numéricos decimales. 
# Pero en el DataFrame aparece como columna de tipo string. Deberás hacer los cambios necesarios para 
# convertirla en columna de tipo numérica.
df['dailyrate'].dtype #aquí aparece como float
[type('dailyrate')] # da str

df['dailyrate'] #emo sido engañadas, está correcto

0       2015.722222
1       2063.388889
2       1984.253968
3       1771.404762
4       1582.771346
           ...
1673     488.944444
1674    1973.984127
1675     290.035510
1676    1032.487286
1677     556.256661
Name: dailyrate, Length: 1678, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   object
 1   attrition                 1678 non-null   object
 2   businesstravel            877 non-null    object
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object
 5   distancefromhome          1678 non-null   int64
 6   education                 1678 non-null   int64
 7   educationfield            904 non-null    object
 8   employeecount             1678 non-null   int64
 9   employeenumber            1678 non-null   int64
 10  environmentsatisfaction   1678 non-null   int64
 11  gender                    1678 non-null   object
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64
 14  joblevel                  1678 non-null   int64
 15  jobrole                   1678 non-null   object
 16  jobsatisfaction           1678 non-null   int64
 17  maritalstatus             1003 non-null   object
 18  monthlyincome             1189 non-null   object
 19  monthlyrate               1678 non-null   object
 20  numcompaniesworked        1678 non-null   int64
 21  over18                    740 non-null    object
 22  overtime                  982 non-null    object
 23  percentsalaryhike         1678 non-null   int64
 24  performancerating         1478 non-null   object
 25  relationshipsatisfaction  1678 non-null   int64
 26  standardhours             1327 non-null   object
 27  stockoptionlevel          1678 non-null   int64
 28  totalworkingyears         1129 non-null   object
 29  trainingtimeslastyear     1678 non-null   int64
 30  worklifebalance           1564 non-null   object
 31  yearsatcompany            1678 non-null   int64
 32  yearsincurrentrole        35 non-null     object
 33  yearssincelastpromotion   1678 non-null   int64
 34  yearswithcurrmanager      1678 non-null   int64
 35  sameasmonthlyincome       1189 non-null   object
 36  datebirth                 1678 non-null   int64
 37  salary                    1393 non-null   object
 38  roledepartament           312 non-null    object
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object
dtypes: float64(3), int64(17), object(21)
memory usage: 550.6+ KB


Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype  
---  ------                    --------------  -----  
 0   age                       1678 non-null   object 
 1   attrition                 1678 non-null   object 
 2   businesstravel            877 non-null    object 
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object 
 5   distancefromhome          1678 non-null   int64  
 6   education                 1678 non-null   int64  
 7   educationfield            904 non-null    object 
 8   employeecount             1678 non-null   int64  
 9   employeenumber            1678 non-null   int64  
 10  environmentsatisfaction   1678 non-null   int64  
 11  gender                    1678 non-null   object 
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64  
 14  joblevel                  1678 non-null   int64  
 15  jobrole                   1678 non-null   object 
 16  jobsatisfaction           1678 non-null   int64  
 17  maritalstatus             1003 non-null   object 
 18  monthlyincome             1189 non-null   object 
 19  monthlyrate               1678 non-null   object 
 20  numcompaniesworked        1678 non-null   int64  
 21  over18                    740 non-null    object 
 22  overtime                  982 non-null    object 
 23  percentsalaryhike         1678 non-null   int64  
 24  performancerating         1478 non-null   object 
 25  relationshipsatisfaction  1678 non-null   int64  
 26  standardhours             1327 non-null   object 
 27  stockoptionlevel          1678 non-null   int64  
 28  totalworkingyears         1129 non-null   object 
 29  trainingtimeslastyear     1678 non-null   int64  
 30  worklifebalance           1564 non-null   object 
 31  yearsatcompany            1678 non-null   int64  
 32  yearsincurrentrole        35 non-null     object 
 33  yearssincelastpromotion   1678 non-null   int64  
 34  yearswithcurrmanager      1678 non-null   int64  
 35  sameasmonthlyincome       1189 non-null   object 
 36  datebirth                 1678 non-null   int64  
 37  salary                    1393 non-null   object 
 38  roledepartament           312 non-null    object 
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object 
dtypes: float64(3), int64(17), object(21)
memory usage: 550.6+ KB

In [ ]:
from IPython.display import display

# Solo mostramos la columna 'gender' con scroll
display(df[['age']].style.set_sticky().set_table_attributes('style="height:300px; overflow-y:scroll; display:block"'))

In [ ]:
import re

In [ ]:
df_filtrado = df[df['age'].str.match(r'^.{3,}$')]

In [ ]:
df_filtrado #nos da los errores

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
31,forty-seven,No,NaN,1032.487286,Research & Development,25,3,Medical,1,32,1,M,NaN,3,3,heALthCArE RePResEntaTIVe,3,NaN,"8339,32$","21682,23$",2,NaN,NaN,23,"4,0",2,NaN,0,"25,0",3,"3,0",17,NaN,12,11,"8339,32$",1976,NaN,heALthCArE RePResEntaTIVe - Research & Deve...,NaN,Yes
79,fifty-eight,No,travel_rarely,1431.238095,NaN,-18,4,NaN,1,80,4,M,NaN,3,4,saLes ExECutiVE,3,Single,"11560,00$","30056,00$",0,NaN,NaN,13,"3,0",3,Full Time,0,"38,0",1,"2,0",37,NaN,1,8,"11560,00$",1965,"138720,00$",NaN,NaN,1
216,thirty-six,No,travel_rarely,1032.487286,Research & Development,12,5,NaN,1,217,4,F,129.060911,2,3,mANUfaCTuRiNG DiRECtOr,4,NaN,"8339,32$","21682,23$",0,Y,NaN,11,"3,0",2,Part Time,0,"15,0",2,"2,0",14,NaN,7,8,"8339,32$",1987,"100071,84$",mANUfaCTuRiNG DiRECtOr - Research & Develop...,NaN,1
357,fifty-five,Yes,NaN,556.256661,NaN,2,1,Medical,1,358,3,M,69.532083,3,2,SALes EXECutIVe,4,Single,NaN,"11681,39$",4,Y,NaN,16,"3,0",3,Part Time,0,NaN,3,"2,0",9,NaN,7,3,NaN,1968,"53914,11$",NaN,NaN,False
411,fifty-two,Yes,NaN,1032.487286,Sales,5,3,NaN,1,412,2,M,NaN,3,3,SaLeS eXECutiVE,2,Single,"8339,32$","21682,23$",9,Y,Yes,19,"3,0",3,Part Time,0,NaN,2,"2,0",8,NaN,7,7,"8339,32$",1971,"100071,84$",SaLeS eXECutiVE - Sales,NaN,Yes
426,thirty-one,No,NaN,1113.563492,NaN,8,2,NaN,1,427,1,M,NaN,3,3,Sales eXEcUTive,4,Divorced,"8994,17$","23384,83$",1,NaN,NaN,18,NaN,1,Full Time,1,"13,0",5,"3,0",13,NaN,9,9,"8994,17$",1992,"107930,00$",NaN,NaN,True
593,thirty,No,travel_rarely,556.256661,NaN,2,3,Life Sciences,1,594,3,F,NaN,1,2,maNUfaCTURING DIrECToR,4,NaN,"4492,84$","11681,39$",2,NaN,No,20,"4,0",3,NaN,0,"11,0",2,"3,0",5,NaN,0,2,"4492,84$",1993,NaN,NaN,NaN,1
1198,twenty-six,Yes,NaN,245.246032,NaN,21,3,NaN,1,1199,1,M,30.655754,3,1,LAboRATory tEChnicIAN,3,NaN,"1980,83$","5150,17$",1,Y,No,20,NaN,3,Part Time,1,"1,0",0,"2,0",1,NaN,0,0,"1980,83$",1997,"23770,00$",NaN,NaN,False
1226,thirty-seven,Yes,travel_rarely,215.634921,NaN,2,2,NaN,1,1227,4,M,NaN,2,1,lAbOratOry teChnIcIan,3,Single,NaN,"4528,33$",6,NaN,Yes,15,"3,0",2,NaN,0,"7,0",3,"3,0",0,NaN,0,0,NaN,1986,"20900,00$",NaN,NaN,True
1293,thirty-two,No,travel_rarely,433.023810,NaN,10,4,NaN,1,1294,3,M,54.127976,3,2,maNuFACtURINg DirEcToR,2,Single,"3497,50$","9093,50$",2,Y,NaN,12,"3,0",4,Part Time,0,"18,0",2,"2,0",1,NaN,0,1,"3497,50$",1986,"41970,00$",NaN,NaN,True
1325,twenty-four,No,NaN,277.952381,NaN,9,3,Life Sciences,1,1326,3,M,NaN,2,1,labORAToRy TeCHNicIAN,2,Divorced,"2245,00$","5837,00$",1,Y,No,11,"3,0",3,Part Time,3,NaN,4,"3,0",1,NaN,0,0,"2245,00$",1999,"26940,00$",NaN,NaN,False
1584,thirty-two,No,travel_rarely,1151.325397,NaN,3,2,Life Sciences,1,1585,3,F,NaN,3,3,researCh dIrEctor,4,Single,NaN,"24177,83$",3,NaN,NaN,15,"3,0",4,Full Time,0,"10,0",6,"3,0",7,NaN,7,7,NaN,1991,"111590,00$",NaN,NaN,0
1662,twenty-four,No,NaN,277.952381,NaN,9,3,Life Sciences,1,1326,3,M,NaN,2,1,labORAToRy TeCHNicIAN,2,Divorced,"2245,00$","5837,00$",1,Y,No,11,"3,0",3,Part Time,3,NaN,4,"3,0",1,NaN,0,0,"2245,00$",1999,"26940,00$",NaN,NaN,False

In [ ]:
import numpy as np

In [ ]:
np.where(df['age'] == ["twenty-four"], 24)

ValueError: ('Lengths must match to compare', (1678,), (1,))

In [ ]:
#print(df['age']) #debería de ser Int no object
#df['age']= df['age'].astype(int)
#sin_esclavitud_infantil = [(df['age'] < 16) | (df['age'] < 68)]

def cambiaredad():
    for i in (df['age']) > REGEXPATTEN:

#datebirth investigar restando año actual - datebirth y sustituír a todos.

0       51
1       52
2       42
3       47
4       46
        ..
1673    43
1674    47
1675    29
1676    47
1677    32
Name: age, Length: 1678, dtype: object

ValueError: invalid literal for int() with base 10: 'forty-seven'